<p>Dear {{order_inst.user.name}},</p>

<p>We have received your order with <b>Order id -</b> {{order_inst.order_id}}. </p>

{% if ebook_cart %}

<p>Download your e-books here - <b><a href="{{base_url}}/ebooks/{{order_inst.order_id}}">My E-Books</a></b></p>

{% endif %}

{% if test_series_cart %}

<p>
  <b>
    <a href="{{base_url}}/test-series/{{order_inst.order_id}}">My Test Series</a>
  </b>
</p>

{% endif %}

{% if not ebook_cart or not test_series_cart %}

<p>It will be delievered to you asap at your Doorstep</p>

<p>Contact us at support@afhdusa.org for tracking information</p>

<h4>Address Details</h4>

<p><b>Street Address - </b>{{order_inst.shipping_address.street_address}}</p>

<p><b>City - </b>{{order_inst.shipping_address.city}}</p>

<p><b>State - </b>{{order_inst.shipping_address.state}}</p>

<p><b>Pincode - </b>{{order_inst.shipping_address.pincode}}</p>

{% endif %}


<h4>Order Details</h4>
<style>
  table {
    border-collapse: collapse;
  }

  table, td, th {
    border: 1px solid black;
  }
</style>
<table class="table table-bordered cart-table">
  <thead>
    <tr>
      <th>#</th>
      <th>Product Name</th>
      <th>Product Price</th>
      <th>Product quantity</th>
      <th>Total price</th>
    </tr>
  </thead>
  <tbody class='cart-body'>
    {% for product in order_inst.cart.cart_items_set.all %}

        <tr class='cart-product'>
          <th scope="row">{{ forloop.counter }}</th>
          <td><a href='{{ item.product.get_absolute_url }}'>{{ product.item.name }}</a>
          </td>

          <td>${{product.item.price}}</td>
          <td>{{product.quantity}}</td>
          <td>${{product.line_total}}</td>

        </tr>
    {% endfor %}
    <tr>
      <td colspan="3"></td>
      <td><b>Sub Total Price</b></td>
      <td>$<span class='cart-total'>{{order_inst.cart.total_price}}</span></td>

    </tr>
    {% if not ebook_cart or not test_series_cart %}
    <tr>
      <td colspan="3"></td>
      <td><b>Shipping charges</b></td>
      <td>$<span class='cart-total'>0</span></td>

    </tr>
    {% endif %}
    <tr>
      <td colspan="3"></td>
      <td><b>Grand Total</b></td>
      <td>$<span class='cart-total'>{{order_inst.cart.grand_total_price}}</span></td>
    </tr>

  </tbody>
</table>



<p>Thank you,</p>
<p>Regards,</p>
<p>Support Team</p>
