
<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>AFHD-USA</h3>
          <p>
            6955 260th place <br>
            Glen Oaks, NY, 11004<br>
            United States <br><br>
            <!-- <strong>Phone:</strong> +1 5589 55488 55<br> -->
            <strong>Email:</strong> Srao123@gmail.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'who-we-are' %}">Who we are?</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'vision-mission' %}">Vision & Mission</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'what-we-do' %}">What we do?</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'our-team' %}">Meet our Team</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Products</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'code-test-series' %}">Take Test</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'download-books' %}">Download Books</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'buy-items' category='others' %}">Shop</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="{% url 'nutrition-food-file' %}">Nutrition File</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Social Networks</h4>
          <!-- <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p> -->
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-youtube"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      AFHD USA &copy; 2022 • ALL RIGHTS RESERVED
    </div>
    <div style="text-align: center;">
        Visitor number - <img src="https://hitwebcounter.com/counter/counter.php?page=7992088&style=0002&nbdigits=5&type=ip&initCount=0"  Alt="web counter"   border="0" />
      </div>
  </div>
</footer><!-- End Footer -->
