{% load static %}

<!-- ======= Header ======= -->

  <div class="container d-flex align-items-center">

    <h1 class="logo mr-auto"><a href="/">Afhd-usa</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <!-- <li class="active"><a href="/">Home</a></li> -->
        <li class="drop-down"><a href="">About us</a>
          <ul>
            <li><a href="{% url 'who-we-are' %}">Who we are?</a></li>
            <li><a href="{% url 'vision-mission' %}">Vision & Mission</a></li>
            <li><a href="{% url 'what-we-do' %}">What we do?</a></li>
            <li><a href="{% url 'our-team' %}">Meet our Team</a></li>
          </ul>
        </li>
        <li class="drop-down"><a href="">Projects</a>
          <ul>
            <li><a href="{% url 'code-test-series' %}">Take Food Test</a></li>
            <li><a href="{% url 'project-nutrition' %}">Nutrition</a></li>
            <li><a href="{% url 'project-knowledge' %}">Human Knowledge from Vedas</a></li>
            <li><a href="{% url 'nutrition-game' %}">Nutrition Game</a></li>
            <li><a href="{% url 'quinoa-recipes-book' %}">365 Quinoa Recipes Book</a></li>
            <li><a href="https://pathtonobel.afhdusa.org/">Path to Nobel</a></li>
            <li><a href="{% url 'path-to-nobel-book' %}">Path to Nobel Book - 1st Ed.</a></li>
            <li><a href="{% url 'path-to-nobel-book-2' %}">Path to Nobel Book - 2nd Ed.</a></li>
            <li><a href="{% url 'rishis-as-scientist' %}">Rishi's as Scientist</a></li>            
            <li><a href="{% url '108-cues-app-project' %}">108 Cues APP project.</a></li>            
          </ul>
        </li>
        <li class="drop-down"><a href="">Products</a>
          <ul>
            <!-- <li><a href="{% url 'buy-items' category='books' %}">Books</a></li> -->
            <!-- <li><a href="{% url 'buy-items' category='ebooks' %}">E-Books</a></li> -->
            <!-- <li><a href="{% url 'buy-items' category='test-series' %}">Test Series</a></li> -->
            <li><a href="{% url 'buy-items' category='others' %}">Shop</a></li>
            <li><a href="{% url 'nutrition-food-file' %}">Nutrition Files</a></li>
            <li><a href="{% url 'download-books' %}">Download Free Books</a></li>
            <li><a href="{% url 'at-the-feet-of-mother-india' %}">At the feet of Mother India</a></li>

          </ul>
        </li>
        <!-- <li><a href="#">Presentations</a></li> -->
        <!-- <li><a href="#">Blog</a></li> -->

        <li><a href="#footer">Social</a></li>
        <!-- <li class="drop-down"><a href="">Social</a>
          <ul>
            <li><a href="#">Youtube</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
          </ul>
        </li> -->

        <!-- <li><a href="#">Donate</a></li> -->
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </nav><!-- .nav-menu -->

    <a href="{% url 'cart' %}" class="get-started-btn scrollto"><i class="bx bx-cart"></i> Cart</a>

  </div>
