<p>Dear Team,</p>

<p>We have received a new enquiry from Afhdusa.com</p>

<h4>Details</h4>

<p><b>Name - </b>{{name}}</p>

<p><b>Email - </b>{{email}}</p>

<p><b>Subject - </b>{{subject}}</p>

<p><b>Message - </b>{{message}}</p>



<p>Thank you,</p>
<p>Regards,</p>
<p>Support Team</p>
