{% extends "dashboard/base-dashboard.html" %}
{% load static %}

{% block content %}


<!-- Content Row -->
<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Earnings</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">$ {{total_order_amount}}</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <a href="{{view_order_url}}">

            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Orders</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_orders}}</div>
            </a>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">

            <div class="col mr-2">
                <a href="{{view_book_url}}">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Listed Products</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{prod_inst}}</div>
              </a>
            </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <a href="{{view_user_url}}">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Users</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{user_inst}}</div>
            </a>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Content Row -->

<div class="row">

  <!-- Area Chart -->
  <div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Filter:</div>
            <button class="dropdown-item" onclick="month_func()">By Month</button>
            <button class="dropdown-item" onclick="day_func()">By Days</button>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-area">
          <div id="chart">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pie Chart -->
  <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h6 class="m-0 font-weight-bold text-primary">Top 5 states</h6>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <ul>
          {% for search_ins in search_query %}
            <li>{{search_ins}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Content Row -->
<div class="row">

  <!-- Content Column -->
  <div class="col-lg-6 mb-4">

    <!-- Project Card Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Max Viewed Products</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered book-count"  width="100%" cellspacing="0">
            <thead>
              <tr>
                <th >#</th>
                <th >Book Name</th>
                <th >Count</th>
              </tr>
            </thead>


  <tbody>

    {% for obj in prod_view reversed %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{obj.product.title}}</td>
      <td>{{obj.count}}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>

</div>
      </div>
    </div>


  </div>


</div>

{% endblock %}

{% block tail %}


<!-- Page level plugins -->
<script src="{% static 'dashboard/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'dashboard/js/demo/datatables-demo.js' %}"></script>


<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>

<script>
$(document).ready(function() {
    $('.book-count').DataTable();
} );
</script>

<script>
window.onload = function () {
  var options = {
             chart: {
                 id:"chart1",
                 height: 340,
                 type: 'line',
                 zoom: {
                     enabled: false
                 }
             },
             series: [{
                 name: "Sales",
                 data: {{month_sales|safe}},
             }],
             dataLabels: {
                 enabled: false
             },
             stroke: {
                 curve: 'straight'
             },
             // title: {
             //     text: 'Product Trends by Month',
             //     align: 'left'
             // },
             grid: {
                 row: {
                     colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
                     opacity: 0.5
                 },
             },
             xaxis: {
                 categories: {{month_month|safe}},
             }
         }

         var chart = new ApexCharts(
             document.querySelector("#chart"),
             options
         );

         chart.render();
}

function day_func(){
  // var
  ApexCharts.exec('chart1', "updateOptions", {
    xaxis: {
      categories: {{day_day|safe}}
    }
  });

  ApexCharts.exec("chart1", "updateSeries", [
    {
      data: {{day_sales|safe}}
    }
  ]);

}

function month_func(){
  // var
  ApexCharts.exec('chart1', "updateOptions", {
    xaxis: {
      categories: {{month_month|safe}}
    }
  });

  ApexCharts.exec("chart1", "updateSeries", [
    {
      data: {{month_sales|safe}}
    }
  ]);

}


</script>
<!-- <script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
{% endblock %}
