{% extends "dashboard/base-dashboard.html" %}
{% load static %}

{% block css %}
  th,td{
    font-size:0.8rem;
  }
{% endblock %}


{% block content %}



  <!-- Content Row -->
  <div class="row">

    <!-- Content Column -->
    <div class="col-lg-12 mb-4">

      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Login</h6>
        </div>
        <div class="card-body">
          <form class="user" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="form-group row">
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label ><b>Username</b></label>
                <input type="text" class="form-control " id="username" name="username" required>
              </div>
              <div class="col-sm-6 mb-3 mb-sm-0">
                <label><b>Password</b></label>
                <input type="password" class="form-control " id="password" name="password" required>
              </div>
            </div>

            <button class="btn btn-primary mt-3" type="submit">
              Login
            </button>

          </form>
        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block tail %}

<!-- Page level plugins -->
<script src="{% static 'dashboard/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'dashboard/js/demo/datatables-demo.js' %}"></script>


<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>

{% endblock %}
