{% extends "dashboard/base-dashboard.html" %}
{% load static %}

{% block css %}
  th,td{
    font-size:0.8rem;
  }
{% endblock %}


{% block content %}


  <!-- Modal -->
  <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Cart Summary</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-bordered cart-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>

                <th>Price</th>
                <th>Qty.</th>
                <th>Total Price</th>
              </tr>
            </thead>
            <tbody class='cart-body'>

            </tbody>
          </table>

          <h5>Shipping Address</h5>
          <table class="table table-bordered cart-ship-table">
            <thead>
              <tr>
                <th>Street Address</th>
                  <th>City</th>
                <th>State</th>
                <th>Pincode</th>
              </tr>
            </thead>
            <tbody class='ship-body'>

            </tbody>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="printDiv();">Print</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="shipmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Shipment Summary</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
          <table class="table table-bordered shipment-table">
            <tbody class='shipment-body'>

            </tbody>
          </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>


  <!-- Content Row -->
  <div class="row">

    <!-- Content Column -->
    <div class="col-lg-12 mb-4">

      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Orders list</h6>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered orders" width="100%" cellspacing="0" >
              <thead>
                <tr>
                  <th >#</th>
                  <th>Order Id</th>
                  <th>Stripe Id</th>
                    <th>Order Date</th>
                    <th>User Email</th>
                    <th>User name</th>
                  <th>User phone</th>

                  <th>Amount</th>
                  <th>Cart Detail </th>

                  <th>Delivery Detail </th>

                </tr>
              </thead>
              <tbody>

                {% for obj in order_inst%}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{obj.order_id}}</td>
                  <td>{{obj.stripe_payment_intent}}</td>
                  <!-- <td>{{obj.receipt_id}}</td> -->

                  <td>{{obj.order_date}}</td>

                  <td>{{obj.user.email}}</td>
                  <td>{{obj.user.name}}</td>
                  <td>{{obj.user.phone}}</td>


                  <td>{{obj.cart.grand_total_price}}</td>
                  <td>    <!-- Button trigger modal -->
                      <button type="button" class="btn btn-primary btn-sm show-cart" id={{obj.cart.id}} >
                        View Cart
                      </button>
                    </td>
                    {% if obj.delivered %}
                    <td><button class="btn btn-info btn-sm order_status{{obj.id}}" id="{{obj.id}}" onclick="myFunction(this);" value="delivered">Delivered</button></td>
                    {% else %}
                    <td><button class="btn btn-info btn-danger btn-sm order_status{{obj.id}}" id="{{obj.id}}" onclick="myFunction(this);" value="un-delivered">Un-Delivered</button></td>
                    {% endif %}
                </tr>
                {% endfor %}

              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block tail %}

<!-- Page level plugins -->
<script src="{% static 'dashboard/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'dashboard/js/demo/datatables-demo.js' %}"></script>


<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>


<script type="text/javascript">
  $(document).ready(function() {
    $('table.orders').DataTable(
        {
          dom:
        "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
        "<'row'<'col-sm-12'tr>>" +
        "<'row'<'col-sm-5'i><'col-sm-7'p>>",
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
        }
        );

     $(".buttons-html5").addClass("btn-primary");
     $(".buttons-print").addClass("btn-primary");

} );
</script>

<script>
$(document).ready(function(){
  $(".show-cart").click(function() {
    cart_id = this.id,
    $.ajax({
      type: 'POST',
      url: "{% url 'dashboard:cart-detail' %}",
      data: {
        'cart_id': cart_id ,'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      dataType: 'json',

      success: function (data,textStatus) {

        $(".cart-body").html("");
        $(".ship-body").html("");
        for (var i=0;i<(data['cart_det'].length);i++){
          $(".cart-body").append
          (
          `<tr class='cart-product'>
            <th scope="row">`+(i+1)+`</th>
            <td>`+data['cart_det'][i]['name']+`</td>
            <td>`+data['cart_det'][i]['type']+`</td>

            <td>`+data['cart_det'][i]['price']+`</td>
            <td>`+data['cart_det'][i]['quantity']+`</td>
            <td>`+data['cart_det'][i]['line_total']+`</td>
          </tr>`
          )
        }
        $(".cart-body").append
        (
        `<tr>
          <td colspan="2"></td>
          <td style="text-align:right"><b>Shipping charge</b></td>
          <td>`+data['shipping_charges']+`</td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td style="text-align:right"><b>Total</b></td>
          <td>`+data['total']+`</td>
        </tr>`
      )

      $(".ship-body").append
      (
      `<tr class='cart-address'>
        <td>`+data['address']['street']+`</td>
          <td>`+data['address']['city']+`</td>
        <td>`+data['address']['state']+`</td>
        <td>`+data['address']['pincode']+`</td>
      </tr>`
      )

       $('#cartModal').modal('show')
      }
    })
  })
})

</script>

<script>
  function myFunction(objectact){
    var inputTitle = objectact.value
  // var x = document.getElementById("activebutton");
    var id = objectact.id

  if(inputTitle == "delivered"){
    status = 'True'
  } else {
    status = 'False'
}
  $.ajax({
    type: 'POST',
    url: "{% url 'dashboard:order-status' %}",
    data: {
      'id': id,'status':status ,'csrfmiddlewaretoken': '{{ csrf_token }}'
    },
    dataType: 'json',

    success: function (data,textStatus) {
      if (data['result'] == "Deactivated"){
            objectact.value = "un-delivered";
            $('.order_status'+id).html("Un-Delivered");
            $('.order_status'+id).addClass('btn-danger');
      }
      else{
        // $('#'+id).addClass('btn-damger')
        $('.order_status'+id).removeClass('btn-danger')
        objectact.value = "delivered";
        $('.order_status'+id).html("Delivered");
      }
    }
  })


}
  </script>
  <script>
         function printDiv() {
             var divContents = document.getElementById("cartModal").innerHTML;
             var a = window.open('', '', 'height=500, width=500');
             a.document.write('<html><head>');
             a.document.write(document.head.innerHTML);
             a.document.write('</head><body> <h1>Label</h1> <br>');
             a.document.write(divContents);
             a.document.write('</body></html>');
             a.document.close();
             a.print();
         }
     </script>
{% endblock %}
