{% extends "dashboard/base-dashboard.html" %}
{% load static %}

{% block css %}
  th,td{
    font-size:0.8rem;
  }
{% endblock %}

{% block content %}


<!-- Content Row -->
<div class="row">

  <!-- Content Column -->
  <div class="col-lg-12 mb-4">

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Products list</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered orders" width="100%" cellspacing="0" >
            <thead>
              <tr>
                <th >#</th>
                <th>Image</th>
                <th>Name</th>
                <th>Date Added</th>
                <th>Category</th>
                <th>Type</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>

              {% for obj in prod_inst %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td style="width: 20%;text-align: center;"><img src="{{obj.image.url}}" style="width: inherit;"/></td>

                <td>{{obj.name}}</td>
                <td>{{obj.timestamp}}</td>
                <td>{{obj.category}}</td>

                {% if obj.is_book %}
                  <td>Book</td>
                {% endif %}

                {% if obj.is_ebook %}
                  <td>E-Book</td>
                {% endif %}

                {% if obj.is_other_item %}
                  <td>Other</td>
                {% endif %}

                <td>${{obj.price}}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>

        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}


{% block tail %}
<!-- Page level plugins -->
<script src="{% static 'dashboard/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'dashboard/js/demo/datatables-demo.js' %}"></script>


<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>


<script type="text/javascript">
  $(document).ready(function() {
// $('table.books').DataTable(
//     {
//       dom:
//     "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
//     "<'row'<'col-sm-12'tr>>" +
//     "<'row'<'col-sm-5'i><'col-sm-7'p>>",
//         buttons: [
//             'copy', 'csv', 'excel', 'pdf', 'print'
//         ],
//     }
//     );

  $('table.orders').DataTable(
      {
        // "paging": false,
        // "ordering": false,
        // "searching": false,
        dom:
      "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
      "<'row'<'col-sm-12'tr>>" +
      "<'row'<'col-sm-5'i><'col-sm-7'p>>",
          buttons: [
              'copy', 'csv', 'excel', 'pdf', 'print'
          ],
      }
      );

 $(".buttons-html5").addClass("btn-primary");
 $(".buttons-print").addClass("btn-primary");

} );
</script>

{% endblock %}
