{% extends "dashboard/base-dashboard.html" %}
{% load static %}
{% block css%}
form.user .form-control-user{
  padding: 0.5rem 1rem;
}
{% endblock %}
{% block content %}


<!-- Content Row -->
<div class="row">

  <!-- Content Column -->
  <div class="col-lg-12 mb-4">

    {% if added %}
    <div class="alert alert-success" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Success!</strong> book added successfully!
    </div>
    {% elif error %}
    <div class="alert alert-danger" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Error!</strong> Not added! {{exc}}
    </div>
    {% endif %}
    <!-- Approach -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add Book</h6>
      </div>
      <div class="card-body">

        <form class="user" method="post" enctype="multipart/form-data">{% csrf_token %}

          <div class="form-group row">
            <div class="col-sm-4 mb-3 mb-sm-0">
              <label ><b>Book Title</b></label>
              <input type="text" class="form-control form-control-user" id="title" name="title" required>
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0">
              <label><b>Book Description</b></label>
              <textarea class="form-control form-control-user" id="description" name="description" row=3 ></textarea>
            </div>
            <div class="col-sm-4 mb-3 mb-sm-0">
              <label><b>Book Semester</b></label>
              <input type="text" class="form-control form-control-user" id="semester" name="semester">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 mb-3 mb-sm-0">
              <label ><b>Book Author</b></label>
              <select class="selectpicker" id="author-select" name="author"  data-live-search="true" multiple >
                {% for obj in authors %}
                <option value="{{obj.id}}">{{obj.Name}}</option>
                {% endfor %}
              </select>
              <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#authorModal">Add New</button>

            </div>

            <div class="col-sm-4 mb-3 mb-sm-0">
              <label ><b>Book Editor</b></label>
              <select class="selectpicker" id="edi-select" name="editor"  data-live-search="true" multiple >
                {% for obj in editors %}
                <option value="{{obj.id}}">{{obj.Name}}</option>
                {% endfor %}
              </select>
              <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#ediModal">Add New</button>

            </div>

            <div class="col-sm-4 mb-3 mb-sm-0">
              <label ><b>Book Publisher</b></label>
              <select class="selectpicker" id="pub-select" name="publisher"  data-live-search="true" >
                {% for obj in publishers %}
                <option value="{{obj.id}}">{{obj.Name}}</option>
                {% endfor %}
              </select>
              <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#pubModal">Add New</button>

            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-2 mb-3 mb-sm-0">
              <label ><b>Book Price</b></label>
              <input type="number" class="form-control form-control-user" id="price" name="price"   step="1" min="0" max="10000" required >
            </div>
            <div class="col-sm-2 mb-3 mb-sm-0">
              <label><b>Any Discount</b></label>
              <input type="number" class="form-control form-control-user" id="discount" name="discount"  min="0" max="100" step="1"  value=0>
            </div>
            <div class="col-sm-2 mb-3 mb-sm-0">
              <label ><b>Book Quantity</b></label>
              <input type="number" class="form-control form-control-user" id="quantity" name="quantity"  min="0" max="10000" step="1">
            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
              <label ><b>Book Condition</b></label>
              <select class="form-control" name="condition" required>
                <option>New</option>
                <option>Second hand</option>
                <!-- <option>Not Good</option> -->
              </select>
            </div>

            <div class="col-sm-3 mb-3 mb-sm-0">
              <label><b>Book Binding Type</b></label>
              <select  class="form-control" name="binding" required>
                <option>Paper Back</option>
                <option>Hard Binding</option>
              </select>
            </div>
          </div>


          <!-- <div class="form-group row">

          </div> -->


          <div class="form-group row">
            <div class="col-sm-3 mb-3 mb-sm-0">
              <label><b>Book Length (in cm)</b></label>
              <input type="number" class="form-control form-control-user" id="length" name="length"  min="1" max="100" step='0.1' required>
            </div>

            <div class="col-sm-3 mb-3 mb-sm-0">
              <label><b>Book Height (in cm)</b></label>
              <input type="number" class="form-control form-control-user" id="height" name="height"  min="1" max="100" step='0.1' required>
            </div>

            <div class="col-sm-3 mb-3 mb-sm-0">
              <label><b>Book Width (in cm)</b></label>
              <input type="number" class="form-control form-control-user" id="width" name="width"  min="1" max="100" step='0.1' required>
            </div>

            <div class="col-sm-3 mb-3 mb-sm-0">
              <label><b>Book Weight (in kg)</b></label>
              <input type="number" class="form-control form-control-user" id="weight" name="weight" min="0" max="10" step='0.001' required>
            </div>

          </div>


          <div class="form-group row">
            <div class="col-sm-3 mb-3 mb-sm-0">
              <label ><b>Book Language</b></label>
              <select  class="form-control" name="language" id="language" required>
                <option>English</option>
                <option>Hindi</option>
              </select>
            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
              <label ><b>Publication Year</b></label>
              <input type="number" class="form-control form-control-user" id="publicationyr" name="publicationyr"  min="1900" max="2099" step="1"  >
            </div>

            <div class="col-sm-3 mb-3 mb-sm-0">
              <label ><b>ISBN 10</b></label>
              <input type="text" class="form-control form-control-user" id="isbn10" name="isbn10">
            </div>
            <div class="col-sm-3 mb-3 mb-sm-0">
              <label><b>ISBN 13</b></label>
              <input type="text" class="form-control form-control-user" id="isbn13" name="isbn13" >
            </div>
          </div>


          <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <label><b>Front-Image</b></label>
              <input type="file" class="form-control " id="front_img" name="front_img" accept=".jpg, .jpeg, .png"  >
            </div>
            <div class="col-sm-6 mb-3 mb-sm-0">
              <label><b>Back-Image</b></label>
              <input type="file" class="form-control " id="back_img" name="back_img" accept=".jpg, .jpeg, .png" >
            </div>
          </div>

          <button class="btn btn-sm btn-primary btn-user btn-block mt-3" type="submit">
            Add New Book
          </button>
          <hr>
        </form>
      </div>
    </div>

  </div>

</div>

{% endblock %}


{% block tail %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script>
  window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
      $(this).remove();
    });
  }, 5000);
</script>



{% endblock %}
