{% extends "dashboard/base-dashboard.html" %}
{% load static %}

{% block content %}

<!-- Content Row -->
<div class="row">

  <!-- Content Column -->
  <div class="col-lg-12 mb-4">

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Users</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered table-striped anonymous" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th >#</th>
                <!-- <th>User ID</th> -->
                <th>Email</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Registered on</th>
              </tr>
            </thead>
            <tbody>

              {% for obj in user_inst %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <!-- <td>{{obj.id}}</td> -->
                <td>{{obj.email}}</td>
                <td>{{obj.name}}</td>
                <td>{{obj.phone}}</td>
                <td>{{obj.timestamp}}</td>
              </tr>
              {% endfor %}

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block tail %}

<!-- Page level plugins -->
<script src="{% static 'dashboard/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'dashboard/js/demo/datatables-demo.js' %}"></script>

<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>


<script type="text/javascript">
  $(document).ready(function() {
$('table.anonymous').DataTable(
    {
      dom:
    "<'row'<'col-sm-3'l><'col-sm-6 text-center'B><'col-sm-3'f>>" +
    "<'row'<'col-sm-12'tr>>" +
    "<'row'<'col-sm-5'i><'col-sm-7'p>>",
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
    }
    );


 $(".buttons-html5").addClass("btn-primary");
 $(".buttons-print").addClass("btn-primary");

} );
</script>



{% endblock %}
