{% extends "base/base.html" %}

{% load static %}


{% block metadata %}
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Afhd-usa</title>
{% endblock %}

{% block css_content %}

{% endblock %}

{% block body  %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  {% include 'base/navbar.html' %}
</header><!-- End Header -->

<!-- Masthead-->
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>108 Cues App Project</li>
      </ol>
    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>108 Cues App Project</h2>
      </div>

      <div class="row content">
        <div class="col-lg-12">
          <div class="text-center">
            <img src="{% static 'assets/img/108 logo.jpg' %}" width="35%">
          </div>
          <p>
            Experience the forefront of dating innovation with the 108 Cues App! We've designed this transformative tool based on a scientific foundation of 108 cues, not just to revolutionize your dating journey but also to foster personal growth and self-awareness.
          </p>
          <p>
            We're now extending an exciting opportunity to be a part of our development journey. Join us as a beta tester, gain privileged early access, and have a say in sculpting the final product. This isn't just about testing an app; it's about being a part of a community that's reshaping the dating landscape.
          </p>
          <p>
            Are you up for the adventure? If so, please complete the form below. Your insights will be crucial in refining our application. We look forward to collaborating with you on the 108 Cues App - where dating meets science!"
          </p>
        </div>
        <div class="col-lg-12 mt-2">
          <p>
            <a href="https://drive.google.com/file/d/1MFqrm3wdd8pb1ZJYKsxn-wWZN4CLM7hI/view?usp=sharing">Click to View the Presentation here</a>
          </p>
        </div>
        <a href="https://forms.gle/UrgaM3oiFC5PwxM16" class="btn get-started-btn mt-3"  style="
            color: #e70505;
            background: #fcea90;
            font-size: larger;">
            Fill the Google Form</a>
        
      </div>

    </div>
  </section><!-- End About Us Section -->


</main>

{% endblock %}
