{% extends "base/base.html" %}

{% load static %}


{% block metadata %}
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Afhd-usa</title>
{% endblock %}

{% block css_content %}

{% endblock %}

{% block body  %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  {% include 'base/navbar.html' %}
</header><!-- End Header -->

<!-- Masthead-->
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Order</li>
      </ol>
    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page" style="padding-top: 0;">
    <div class="container">
      <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Error</h2>
          </div>

          <div class="row text-center justify-content-center">
            <div class="col-xl-6 col-md-10 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <h4><a href="#">Try Again</a></h4>                
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</main>

{% endblock %}
