{% extends "base/base.html" %}

{% load static %}


{% block metadata %}
<title>Afhd-usa</title>
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}

{% block css_content %}
<style>
.contact .info h4{
  padding:0 !important;
}
.cart-img{
  height:56px !important;
}
.crt-det{
  font-size:0.8rem;
}
.contact .checkout-btn{
  background:rgba(40, 58, 90, 0.9) !important;
}
.contact .checkout-btn:hover{
  background:#209dd8 !important;
}
</style>
{% endblock %}

{% block body  %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  {% include 'base/navbar.html' %}
</header><!-- End Header -->

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Cart</li>
      </ol>
      <h2>Cart</h2>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page" style="padding-top: 0;">
    <div class="container">

      {% if cart_inst and not cart_inst.is_empty %}
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
          <div class="container" data-aos="fade-up">

            <div class="row">

              <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
                <div class="info">
                  <h4>Billing Information</h4>
                <hr/>
                <form method="post" action="{% url 'checkout' %}">{% csrf_token %}
                  <input type="hidden" name="cart_id" value={{cart_inst.id}}>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Name</label>
                      <input type="text" name="billing_name" class="form-control" placeholder="Enter Name" {%if order_inst %}value="{{order_inst.billing_information.user.name}}"{% endif %} required>
                    </div>
                    <div class="form-group col-md-6">
                      <label for="exampleInputEmail1">Email</label>
                      <input type="email" name="billing_email" class="form-control" placeholder="Enter email" {%if order_inst %}value="{{order_inst.billing_information.user.email}}"{% endif %} required>
                    </div>

                  </div>
                  <div class="form-group">
                    <label>Phone no.</label>
                    <input type="text" name="billing_phone_number" class="form-control" placeholder="Enter Phone Number" {%if order_inst %}value="{{order_inst.billing_information.user.phone}}"{% endif %} required>
                  </div>
                  {% if not test_series_cart or not ebook_cart %}

                      <div class="form-group">
                        <label>Street Address</label>
                        <input type="text" name="billing_street_address" class="form-control" placeholder="Enter Street Address" {%if order_inst %}value="{{order_inst.billing_information.street_address}}"{% endif %} required>
                      </div>


                      <div class="form-group">
                        <label>State</label>
                        <input type="text" name="billing_state" class="form-control" placeholder="Enter State" {%if order_inst %}value="{{order_inst.billing_information.state}}"{% endif %} required>
                      </div>


                    <div class="form-row">

                      <div class="form-group col-md-6">
                        <label>City</label>
                        <input type="text" name="billing_city" class="form-control" placeholder="Enter City" {%if order_inst %}value="{{order_inst.billing_information.city}}"{% endif %} required>
                      </div>
                      <div class="form-group col-md-6">
                        <label>Pincode</label>
                        <input type="text" name="billing_pincode" class="form-control" placeholder="Enter Pincode" {%if order_inst %}value="{{order_inst.billing_information.pincode}}"{% endif %} required>
                      </div>
                    </div>
                  {% endif %}

                  <div class="form-group form-check">
                   <input type="checkbox" name="is_ship_bill_same" class="form-check-input" id="ship_bill" value="1">
                   <label class="form-check-label" for="exampleCheck1"><b>Billing and Shipping same</b></label>
                  </div>

                  <div class="shipping_info" style="display:none">
                    <h4>Shipping Information</h4>

                    <div class="form-row">

                      <div class="form-group col-md-6">
                        <label>Name</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Enter Name" {%if order_inst %}value="{{order_inst.billing_information.user.name}}"{% endif %}>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" name="email" id="email" class="form-control" placeholder="Enter email" {%if order_inst %}value="{{order_inst.billing_information.user.email}}"{% endif %}>
                      </div>

                    </div>
                    <div class="form-group">
                      <label>Phone no.</label>
                      <input type="text" name="phone_number" id="phone_number" class="form-control" placeholder="Enter Phone Number" {%if order_inst %}value="{{order_inst.billing_information.user.phone}}"{% endif %}>
                    </div>
                    {% if not test_series_cart or not ebook_cart %}

                        <div class="form-group">
                          <label>Street Address</label>
                          <input type="text" name="street_address" id="street_address" class="form-control" placeholder="Enter Street Address" {%if order_inst %}value="{{order_inst.shipping_information.street_address}}"{% endif %}>
                        </div>


                        <div class="form-group">
                          <label>State</label>
                          <input type="text" name="state" id="state" class="form-control" placeholder="Enter State" {%if order_inst %}value="{{order_inst.shipping_information.state}}"{% endif %}>
                        </div>


                      <div class="form-row">

                        <div class="form-group col-md-6">
                          <label>City</label>
                          <input type="text" name="city" id="city" class="form-control" placeholder="Enter City" {%if order_inst %}value="{{order_inst.shipping_information.city}}"{% endif %}>
                        </div>
                        <div class="form-group col-md-6">
                          <label>Pincode</label>
                          <input type="text" name="pincode" id="pincode" class="form-control" placeholder="Enter Pincode" {%if order_inst %}value="{{order_inst.shipping_information.pincode}}"{% endif %}>
                        </div>
                      </div>
                    {% endif %}
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-md btn-block btn-primary cart-btn" style="color: #e70505;">Checkout</button>
                  </div>

                  <!-- <button type="submit" class="btn btn-primary">Checkout</button> -->
                </form>

              </div>
              </div>


              <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">

                <div class="email-form table-responsive">
                  <h4  style="display:inline-block;float:left;">Cart Details - {{cart_inst.cart_items_set.count}} item in cart</h4>
                  <a href="/products" style="float:right"><i class="bx bx-left-arrow-alt" style="font-size:2rem"></i></a>


                  <table class="table table-hover mt-3">
                    <thead style="border-top:0">
                      <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Item</th>
                        <th scope="col">Suggested Minimum Donation</th>
                        <th scope="col">Qty.</th>
                        <th scope="col">Total Donation</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in cart_inst.cart_items_set.all %}
                      <tr>
                        <!-- <th scope="row">{{forloop.counter}}</th> -->
                        <td>
                          <img src="{{i.item.image.url}}" class="img-fluid cart-img" alt="">
                        </td>
                        <td class="crt-det">{{i.item.name}}</td>
                        <td class="crt-det">
                          <span>$</span>{{i.item.price}}
                        </td>
                        <td class="crt-det">
                          {% if i.item.is_ebook or i.item.is_test_series %}
                            1
                          {% else %}
                            <form method="post" action="{% url 'update-cart' %}">{% csrf_token %}
                              <input type="hidden" name="item_id" value="{{i.item.id}}">
                                <input type="number" name="item_quantity" min="{{i.min_buy_quantity}}" max="{{i.max_buy_quantity}}" value={{i.quantity}} style="width:80%;height:auto"></input>
                                  <br>
                                <button type="submit" class="btn btn-sm btn-primary mt-2" style="font-size:0.8rem;padding: revert;border-radius:0;color:#e70505">update</button>
                              </form>
                            {% endif %}
                        </td>

                        <td class="crt-det">
                          <span>$</span>{{i.line_total}}
                        </td>

                        <td class="text-center">
                          <a href="{% url 'remove-from-cart' item_id=i.item.id %}">
                            <i class='bx bxs-x-circle' style="font-size: x-large;"></i>
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                      <tr>
                        <td colspan="5" scope="row" style="text-align: -webkit-right;">
                          <b>Total Donation</b>
                        </td>
                        <td class="crt-det">
                          <span>$</span>{{cart_inst.total_price}}
                        </td>

                      </tr>
                      {% if not i.item.is_ebook or not i.item.is_test_series %}

                      <tr>
                        <td colspan="5" scope="row" style="text-align: -webkit-right;">
                          <b>Shipping Price</b>
                        </td>
                        <td class="crt-det">
                          <span>$</span>{{cart_inst.shipping_price}}
                        </td>

                      </tr>
                      {% endif %}
                      <tr>
                        <td colspan="5" scope="row" style="text-align: -webkit-right;">
                          <b>Grand Total Donation</b>
                        </td>
                        <td>
                          <span>$</span>{{cart_inst.grand_total_price}}
                        </td>

                      </tr>
                    </tbody>
                  </table>
                  <div class="text-center">
                    <a href="/" class="btn btn-md btn-block btn-primary cart-btn checkout-btn">Continue Shopping</a>
                  </div>

                </div>
              </div>

            </div>

          </div>
        </section><!-- End Contact Section -->
      {% else %}

      <section id="services" class="services">
        <div class="container" data-aos="fade-up">

          <div class="row text-center justify-content-center">
            <div class="col-xl-6 col-md-10 align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <h5>Cart is empty</h5>
                <h5>Add items in your cart</h5>
                <a href="/" class="btn btn-primary mt-3">Continue Shopping</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% endif %}

    </div>
  </section>


</main><!-- End #main -->


{% endblock %}


{% block js_content %}


<script>

  $(document).ready(function(){
    console.log($('#ship_bill').is(":checked"));
    if (! $('#ship_bill').is(":checked"))
      {
        $(".shipping_info").show()
      }
    })

  </script>

<script type="text/javascript">
  $('#ship_bill').click(function() {
    console.log($('#ship_bill').is(":checked"));

    if ($('#ship_bill').is(":checked"))
      {
        $(".shipping_info").hide()
        $("#name").removeAttr("required");
        $("#email").removeAttr("required");
        $("#phone_number").removeAttr("required");
        $("#street_address").removeAttr("required");
        $("#state").removeAttr("required");
        $("#city").removeAttr("required");
        $("#pincode").removeAttr("required");
      }
    else{
      $(".shipping_info").show()
      $("#name").attr("required", true);
      $("#email").attr("required", true);
      $("#phone_number").attr("required", true);
      $("#street_address").attr("required", true);
      $("#state").attr("required", true);
      $("#city").attr("required", true);
      $("#pincode").attr("required", true);
    }
  });
</script>



{% endblock %}
