{% extends "base/base.html" %}

{% load static %}


{% block metadata %}
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Afhd-usa</title>
{% endblock %}

{% block css_content %}

{% endblock %}

{% block body  %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  {% include 'base/navbar.html' %}
</header><!-- End Header -->

<!-- Masthead-->
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Order</li>
      </ol>
    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page test_frame" style="padding-top: 0;">
    <div class="container">
      <section id="services" class="services">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>My Test Series</h2>
          </div>

          <div class="row text-center justify-content-center">
            <div class="col-xl-10 col-md-10 align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">

                {% if test_inst %}
                  <table class="table table-hover mt-3">
                    <thead style="border-top:0">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Test Name</th>
                        <th scope="col">Give Test</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in test_inst %}
                      <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>
                          <img src="{{i.test_series.image.url}}" class="img-fluid cart-img" alt="" style="width: 100px;">
                        </td>
                        <td>{{i.test_series.name}}</td>

                        <td class="text-center">
                          {% for j in i.test_series.test_link.all %}
                            <button class="btn btn-primary  test_link mb-2" id="{{j.test_link}}" type="button">
                              Test-{{forloop.counter}}
                            </button><br/>
                          {% endfor %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% else %}

                <form method="post">{% csrf_token %}
                  <div class="form-group row">
                    <label class="col-sm-2">Enter Code</label>
                    <div class="col-sm-10">
                    <input type="text" name="tcode" id="tcode" class="form-control" placeholder="Enter test code" required>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-learn-more">Submit</button>

                </form>

                <p class="mt-2"><b>If no code available buy Test Series here - <a href="{% url 'buy-items' category='test-series' %}">Test Series</a></b></p>

                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</main>

{% endblock %}

{% block js_content %}

<script>
  $(document).ready(function(){
  $(".test_link").click(function(){
    var test_url = this.id;
    $(".test_frame").html(`
      <iframe src="`+test_url+`" marginheight=0 marginwidth=0 frameborder="0" height="100%" width="100%" style="top:0; left:0;height:100vh" ></iframe>
    `)
  })
  })
</script>

{% endblock %}
