{% extends "base/base.html" %}

{% load static %}


{% block metadata %}
<title>Afhd-usa</title>
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}

{% block css_content %}

{% endblock %}

{% block body  %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  {% include 'base/navbar.html' %}
</header><!-- End Header -->

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Download Book</li>
      </ol>
      <h2>Download Book</h2>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page" style="padding-top: 0;">
    <div class="container">

      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">

          <!-- <div class="section-title">
            <h2></h2>
          </div> -->

          <div class="row content">
            {% for i in other_books_inst %}

            <div class="col-xl-4 col-md-6 align-items-stretch" data-aos="zoom-in">
              <div class="icon-box text-center">
                <img src="{{i.file_image.url}}" class="img-fluid product-img mb-2" alt="">

                  <h4 class="mt-2 mb-2">
                    <a href="#">{{i.file_name}}</a>
                  </h4>

                  <button type="button" class="btn btn-sm add-to-cart-btn" data-toggle="modal" data-target="#exampleModal" data-id="{{i.id}}" data-bname="{{i.file_name}}">
                    Download
                  </button>
              </div>
            </div>
            {% endfor %}


            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">

                    <form class="user_information">
                      <input type="hidden" id="file_id">
                        <div class="form-group row">
                          <label class="col-sm-2">First Name*</label>
                          <div class="col-sm-10">
                          <input type="text" name="first_name" id="first_name" class="form-control" placeholder="Enter First Name" required>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2">Last Name*</label>
                          <div class="col-sm-10">
                          <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Enter Last Name" required>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="exampleInputEmail1" class="col-sm-2">Email*</label>
                          <div class="col-sm-10">
                          <input type="email" name="email" id="email" class="form-control" placeholder="Enter email" required>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="exampleInputEmail1" class="col-sm-2">Phone no.*</label>
                          <div class="col-sm-10">
                          <input type="text" name="phone_number" id="phone_number" class="form-control" placeholder="Enter phone number" required>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label for="exampleInputEmail1" class="col-sm-2">Street Address</label>
                          <div class="col-sm-10">
                          <input type="text" name="street_address" id="street_address" class="form-control" placeholder="Enter street address">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2">City</label>
                          <div class="col-sm-10">
                          <input type="text" name="city" id="city" class="form-control" placeholder="Enter city">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2">State</label>
                          <div class="col-sm-10">
                          <input type="text" name="state" id="state" class="form-control" placeholder="Enter state">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2">Postal/Zip Code*</label>
                          <div class="col-sm-10">
                          <input type="text" name="pincode" id="pincode" class="form-control" placeholder="Enter postal/zip code" required>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2">Country</label>
                          <div class="col-sm-10">
                          <input type="text" name="country" id="country" class="form-control" placeholder="Enter country">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-2">Comments</label>
                          <div class="col-sm-10">
                          <input type="text" name="comments" id="comments" class="form-control" placeholder="Enter comments">
                          </div>
                        </div>
                        <button type="submit" class="btn btn-sm add-to-cart-btn download-file-info" style="width: -webkit-fill-available;">
                          Submit details to get code
                        </button>
                    </form>

                    <div class="file_section text-center">
                    </div>

                    <form class="code_info" style="display:none">
                      <input type="hidden" name="file_id" id="file_id" class="file_id">
                      <input type="hidden" name="user_id" id="user_id" class="user_id">
                      <div class="form-group row">
                        <label class="col-sm-2">Enter Code</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" name="code" id="code">
                        </div>
                      </div>
                      <button type="submit" class="btn btn-sm add-to-cart-btn" style="width: -webkit-fill-available;">
                        Submit to download book
                      </button>
                    </form>

                  </div>
                  <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Download</button>
                  </div> -->
                </div>
              </div>
            </div>
          </div>

        </div>
      </section><!-- End About Us Section -->


    </div>
  </section>


</main><!-- End #main -->


{% endblock %}



{% block js_content %}

<script>
$(document).ready(function(){

  $('#exampleModal').on('show.bs.modal', function (event) {
    $(".code_info").hide();
    var button = $(event.relatedTarget) // Button that triggered the modal
    var id = button.data('id') // Extract info from data-* attributes
    var bname = button.data('bname') // Extract info from data-* attributes
    // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
    // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
    var modal = $(this)
    modal.find('.modal-title').text(bname)
    modal.find('#file_id').val(id)
  })
  $('#exampleModal').on('hidden.bs.modal', function () {
    // do something…
    $(".user_information").show()
    $(".file_section").hide()
  });

  $(".user_information").submit(function(e) {
    e.preventDefault()
    console.log("clicked");
    var file_id = $("#file_id").val()
    var first_name = $("#first_name").val()
    var last_name = $("#last_name").val()
    var email = $("#email").val()
    var phone_number = $("#phone_number").val()
    var street_address = $("#street_address").val()
    var city = $("#city").val()
    var state = $("#state").val()
    var pincode = $("#pincode").val()
    var country = $("#country").val()
    var comments = $("#comments").val()
    $.ajax({
      type: 'POST',
      url: "{% url 'extra-book-user' %}",
      data: {
        'file_id': file_id,
        'first_name':first_name,
        'last_name':last_name,
        'email':email,
        'phone_number':phone_number,
        'street_address':street_address,
        'city':city,
        'state':state,
        'pincode':pincode,
        'country':country,
        'comments':comments,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      dataType: 'json',

      success: function (data,textStatus) {

          $(".user_information").hide()
          $(".code_info").show()
          $(".file_id").val(data['file_id'])
          $(".user_id").val(data['user_inst'])
          // $(".file_section").show()
          // $(".file_section").html(`
          //     <a class="btn btn-sm add-to-cart-btn" href="`+data['file_url']+`" download="`+data['file_name']+`.pdf">Download file</a>
          // `)
      }
    })
  })


  $(".code_info").submit(function(e) {
    e.preventDefault()
    console.log("clicked code");
    var file_id = $("#file_id").val()
    var user_id = $("#user_id").val()
    var code = $("#code").val()

    $.ajax({
      type: 'POST',
      url: "{% url 'extra-book-user' %}",
      data: {
        'file_id': file_id,
        'code':code,
        'user_id':user_id,
        'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      dataType: 'json',

      success: function (data,textStatus) {
          console.log(data);
          if(data['success']==1){
            $(".code_info").hide()

            $(".file_section").show()
            $(".file_section").html(`
                <a class="btn btn-sm add-to-cart-btn" href="`+data['file_url']+`" download="`+data['file_name']+`.pdf">Download Book</a>
            `)
          }else{
            alert("Please enter correct code from email");
          }

      }
    })
  })

})

</script>
{% endblock %}
