{% extends "base/base.html" %}

{% load static %}


{% block metadata %}
  <title>Afhd-usa</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
{% endblock %}

{% block css_content %}

{% endblock %}

{% block body  %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  {% include 'base/navbar.html' %}
</header><!-- End Header -->

{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert" style="
    top: 0;
    position: fixed;
    right: 0;
    z-index: 90000;
">
  <strong>Oops!</strong> {{error}}.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" style="background: url({% static 'assets/img/baner3.jpg' %});background-size:cover">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" style="background-color:#0000004a" data-aos="fade-up" data-aos-delay="200">
          <h1>Association for Human Development Inc.</h1>
          <h2>We are a platform for people, projects, progress, and products that enhance the human experience.</h2>
          <div class="d-lg-flex mb-1">
            <a href="#about" class="btn-get-started scrollto">Get Started!</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200" style="background-color: white;text-align: center;">
          <img src="{% static 'assets/img/bn2.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <img src="{% static 'assets/img/b4.jpg' %}">
          </div>
          <div class="col-lg-6">
            <p>
            To bring all organizations, people, and government programs to the needy and destitute people thereby catalyzing human development, with a focus on health and nutrition.
            </p>
            <p>
              By identifying, collecting, disseminating information, articles write up, products, and support research related to the focus area(s).
            </p>
            <p>The information collected will be publicized and promoted through publication and meetings/seminars/workshops.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->


  </main><!-- End #main -->


  {% endblock %}
