{% extends "base/base.html" %}

{% load static %}


{% block metadata %}
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Afhd-usa</title>
{% endblock %}

{% block css_content %}

{% endblock %}

{% block body  %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  {% include 'base/navbar.html' %}
</header><!-- End Header -->

<!-- Masthead-->
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Order</li>
      </ol>
    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page" style="padding-top: 0;">
    <div class="container">
      <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>My E-books</h2>
          </div>

          <div class="row text-center justify-content-center">
            <div class="col-xl-6 col-md-10 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                {% if ebook_list %}
                  <table class="table table-hover mt-3">
                    <thead style="border-top:0">
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Image</th>
                        <th scope="col">Item</th>
                        <th scope="col">Price</th>

                        <th scope="col">Download</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for i in ebook_list %}
                      <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>
                          <img src="{{i.item.image.url}}" class="img-fluid cart-img" alt="">
                        </td>
                        <td>{{i.item.name}}</td>
                        <td>
                          <span>$</span>{{i.item.price|floatformat}}
                        </td>
                        <td class="text-center">
                          {% if i.item.digital_book %}
                            <a href="{{i.item.digital_book.url}}">
                              Download
                            </a>
                          {% else %}
                          <a href="#">
                            Contact us
                          </a>
                          {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                {% else %}

                <h4>No Ebook available for download<h4>

                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</main>

{% endblock %}
