{% extends "base/base.html" %}

{% load static %}


{% block metadata %}
<title>Afhd-usa</title>
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}

{% block css_content %}

{% endblock %}

{% block body  %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  {% include 'base/navbar.html' %}
</header><!-- End Header -->

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Nutrition File</li>
      </ol>
      <h2>Nutrition File</h2>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page" style="padding-top: 0;">
    <div class="container">

      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Download Nutrition Food File</h2>
          </div>

          <div class="row content text-center">
            <div class="col-lg-6 file_section">
              {% for i in nutritional_files_inst%}
              <form class="user_information">
                <input type="hidden" id="file_id" value="{{i.id}}">
                  <div class="form-group row">
                    <label class="col-sm-2">Name</label>
                    <div class="col-sm-10">
                    <input type="text" name="name" id="name" class="form-control" placeholder="Enter Name" required>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="exampleInputEmail1" class="col-sm-2">Email</label>
                    <div class="col-sm-10">
                    <input type="email" name="email" id="email" class="form-control" placeholder="Enter email" required>
                    </div>
                  </div>
                  <button type="submit" class="btn-learn-more download-file-info">Submit details to get download link</button>
              </form>
              {% endfor %}
            </div>
          </div>

        </div>
      </section><!-- End About Us Section -->


    </div>
  </section>


</main><!-- End #main -->


{% endblock %}



{% block js_content %}

<script>
$(document).ready(function(){
  $(".user_information").submit(function(e) {
    e.preventDefault()
    console.log("clicked");
    var file_id = $("#file_id").val()
    var name = $("#name").val()
    var email = $("#email").val()
    $.ajax({
      type: 'POST',
      url: "{% url 'nutritional-file-user' %}",
      data: {
        'file_id': file_id, 'name':name,'email':email ,'csrfmiddlewaretoken': '{{ csrf_token }}'
      },
      dataType: 'json',

      success: function (data,textStatus) {

          $(".user_information").hide()
          $(".file_section").append(`
              <a class="btn-learn-more" href="`+data['file_url']+`" download="AFHD_Food_items.xlsx">Download file</a>
          `)

      }
    })
  })
})

</script>
{% endblock %}
