{% extends "base/base.html" %}

{% load static %}


{% block metadata %}
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Afhd-usa</title>
{% endblock %}

{% block css_content %}

{% endblock %}

{% block body  %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  {% include 'base/navbar.html' %}
</header><!-- End Header -->

<!-- Masthead-->
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Nutrition Game</li>
      </ol>
    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page test_frame" style="padding-top: 0;">
    <div class="container">
      <section id="services" class="services">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Aahar Game</h2>
          </div>

          <div class="row text-center justify-content-center">
            <div class="col-xl-10 col-md-10 align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">

                <iframe style="width:100%" height="506" src="https://www.youtube.com/embed/BJgO2CLl09I?rel=0&start=1200&end=2280" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</main>

{% endblock %}
