{% extends "base/base.html" %}

{% load static %}


{% block metadata %}
<meta name="description" content="" />
<meta name="author" content="" />
<title>Afhd-usa</title>
{% endblock %}

{% block css_content %}

{% endblock %}

{% block body %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  {% include 'base/navbar.html' %}
</header><!-- End Header -->

<!-- Masthead-->
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Path to Nobel</li>
      </ol>
    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Path to Nobel</h2>
      </div>

      <div class="row content" style="justify-content: center;">
        <div class="col-lg-6">
          <div class="info" style="display: flex;">
            <img src="{% static 'assets/img/path-to-nobel (1).png'%}" class="img-fluid mb-2" style="width: 50%;" alt="">          
            <img src="{% static 'assets/img/Path to Nobel - Back cover.jpg'%}" class="img-fluid mb-2"  style="width: 50%;" alt="">
          </div>
        </div>
        </div>

      <div class="row content">
        For more information………….
        <br>
        <br>
        Chapter 1
        <br>

        1. Hodgkin, Jonathan. “Obituary Sydney Brenner (1927-2019).” Current
        Biology Magazine, 20 May 2019, www.cell.com/current-biology/pdf/
        S0960-9822(19)30428-2.pdf. Accessed 12 Sept. 2022.
        <br>

        2. Lawrence, Peter A. “Sydney Brenner: A Master of Science and of Wit.”
        Development, vol. 146, no. 9, 1 May 2019, journals.biologists.com/
        dev/article/146/9/dev179879/49310/Sydney-Brenner-a-master-ofscience-and-of-wit, 10.1242/dev.179879. Accessed 12
        Sept. 2022.
        <br>

        3. “Redirect Notice.” Google.com, 2022, www.google.com/
        u r l ? s a = i & u r l = h t t p s % 3 A % 2 F % 2 F w w w . n a t u r e . c o m % 2
        Fscitable%2Ftopicpage%2Fthe-information-in-dna-determinescellular-function-6523228% 2F&psig=AOvVaw1tGz_
        lNBly57BhJvohHPPp&ust=1671247906447000&source=images
        &cd=vfe&ved=2ahUKEwj4_dDfmf37AhWkgnIEHXl1CXAQjRx6
        BAgAEAo. Accessed 16 Dec. 2022.

        <br>

        4. Science History Institute. “James Watson, Francis Crick, Maurice
        Wilkins, and Rosalind Franklin.” Science History Institute, 23 Feb. 2018,
        www.sciencehistory.org/historical-profile/james-watson-francis-crickmaurice-wilkins-and-rosalind-franklin.
        <br>
        5. Shuzhen, Sim. “Sydney Brenner, “Father of the Worm” and Decoder
        of DNA, Dies at 92.” Asian Scientist, 5 Apr. 2019, www.asianscientist.
        com/2019/04/topnews/sydney-brenner-nobel-laureate-dies-92-celegans-obituary/. Accessed 12 Sept. 2022.
        <br>
        6. Strkalj, Goran. “Sir Wilfrid Le Gros Clark: The Sarawak Years.” ResearchGate,
        June 2014, www.researchgate.net/publication/267452946_Sir_
        Wilfrid_Le_Gros_Clark_the_Sarawak_years?enrichId=rgreq4521e1829b67e70e90073233777d21ae-XXX&enrichSource=Y292ZXJ
        QYWdlOzI2NzQ1Mjk0NjtBUzoxNTczOTQ2OTI3NDcyNjRAMTQxNDUzN
        For more information………….
        198
        zIyNzkyNQ%3D%3D&el=1_x_2&_esc=publicationCoverPdf. Accessed
        15 Dec. 2022.
        <br>
        7. “Sydney Brenner Obituary.” The Guardian, 5 Apr. 2019, www.
        theguardian.com/science/2019/apr/05/sydney-brenner-obituary.
        Accessed 16 Dec. 2022.
        <br>
        8. “The Information in DNA Determines Cellular Function via Translation
        | Learn Science at Scitable.” Nature.com, 2014, www.nature.com/
        scitable/topicpage/the-information-in-dna-determines-cellularfunction-6523228/.
        <br>
        9. “University of Oxford | History, Colleges, & Notable Alumni.”
        Encyclopædia Britannica, 2019, www.britannica.com/topic/Universityof-Oxford.
        <br>
        10. Wade, Nicholas. “Sydney Brenner, a Decipherer of the Genetic
        Code, Is Dead at 92.” The New York Times, 5 Apr. 2019, www.nytimes.
        com/2019/04/05/obituaries/sydney-brenner-dead.html.
        <br>
        11. Wikipedia Contributors. “Caenorhabditis Elegans.” Wikipedia, Wikimedia
        Foundation, 12 Oct. 2019, en.wikipedia.org/wiki/Caenorhabditis_
        elegans.
        <br>
        12. “Wits University Makes Light Work.” Study International, 23 Sept. 2021,
        www.studyinternational.com/news/wits-university-makes-lightwork/. Accessed 16 Dec. 2022.
        <br>
        <br>
        
        Chapter 2
        <br>
        1. Mario R. Capecchi – Biographical. NobelPrize.org. Nobel Prize Outreach
        AB 2023. Fri. 13 Jan 2023.
        <https: //www.nobelprize.org/prizes/ medicine/2007/capecchi/biographical />
        <br>
        2. Oliver Smithies – Biographical. NobelPrize.org. Nobel Prize Outreach
        AB 2023. Fri. 13 Jan 2023.
        <https: //www.nobelprize.org/prizes/ medicine/2007/smithies/biographical />
        <br>
        3. Oliver Smithies – Facts. NobelPrize.org. Nobel Prize Outreach AB 2023.
        Fri. 13 Jan 2023.
        <https: //www.nobelprize.org/prizes/medicine/2007/ smithies/facts />
        For more information………….
        199
        <br>
        4. Britannica, The Editors of Encyclopaedia. "Mario R. Capecchi".
        Encyclopedia Britannica, 2 Oct. 2022, https://www.britannica.com/
        biography/Mario-Capecchi. Accessed 13 January 2023.
        <br>
        5. Capecchi, M. R. (1966). Cell-free protein synthesis programmed with
        R17 RNA: Identification of two phage proteins. J. Mol. Bol. 21:173–193.
        <br>
        6. Capecchi, M. R. and Gussin, G. N. (1965). Suppression in vitro:
        Identification of a serine-tRNA as a “Nonsense Suppressor.” Science
        149:417–422.
        <br>
        7. Adams, J. M. and Capecchi, M. R. (1966). N-formylmethionine-tRNA as
        the initiator of protein syntheses. Proc. Natl. Acad. Sci. USA 55:147–155.
        <br>
        8. Capecchi, M. R. (1966). Initiation of E. coli proteins. Proc. Natl. Acad. Sci.
        USA 55:1517–1524.
        <br>
        9. Capecchi, M. R. (1967). Polypeptide chain termination in vitro: Isolation
        of a release factor. Proc. Natl. Acad. Sci. USA 58:1144–1151.
        <br>
        10. Capecchi, M. R. and Klein, H. A. (1970). Release factors mediating
        termination of complete proteins. Nature 26:1029–1033.
        <br>
        11. "Capecchi, Mario Renato”. The Columbia Encyclopedia, 6th ed...
        Encyclopedia.com. 21 Dec. 2022 <https: //www.encyclopedia.com>.
        <br>
        <br>
          Chapter 3
          <br>
          1. Green Fluorescent Protein - GFP History - Marty Chalfie, https://www.
          conncoll.edu/ccacad/zimmer/GFP-ww/chalfie.html.
          <br>
          2. YouTube, 17 January 2019, https://www.jstor.org/stable/2882924.
          <br>
          3. YouTube, 17 January 2019, https://www.nature.com/articles/
          news.2008.1167.
          <br>
          4. Brenner, S. “The green fluorescent protein: discovery, expression and
          development.” Nobel Prize, 8 October 2008, https://www.nobelprize.
          org/uploads/2013/06/advanced-chemistryprize2008.pdf.
          <br>
          5. “Chalfie.” Columbia University: Biological Sciences, https://www.
          biology.columbia.edu/people/chalfie
          For more information………….
          200
          <br>
          6. Khetrapal, Afsaneh. “GFP Applications.” News Medical, https://www.
          news-medical.net/life-sciences/GFP-Applications.aspx.
          <br>
          7. Lipsky, Peter E. “A flow cytometric method to detect protein-protein
          interaction in living cells by directly visualizing donor fluorophore
          quenching during CFP-->YFP fluorescence resonance energy transfer
          (FRET).” PubMed, https://pubmed.ncbi.nlm.nih.gov/14505312/.
          <br>
          8. “Martin Chalfie – Biographical - NobelPrize.org.” Nobel Prize, https://
          www.nobelprize.org/prizes/chemistry/2008/chalfie/biographical/.
          <br>
          9. Persons, Michael. “Brainbow – Harvard University Brain Tour.” Harvard
          Brain Tour, 30 September 2016, https://braintour.harvard.edu/
          archives/portfolio-items/brainbow.
          <br>
          10. “ZEISS Microscopy Online Campus | Introduction to Fluorescent
          Proteins.” Zeiss Campus, https://zeiss-campus.magnet.fsu.edu/print/
          probes/fpintroduction-print.html.
          <br>
          11. Zou, Yawen. “Green Fluorescent Protein | The Embryo Project
          Encyclopedia.” The Embryo Project Encyclopedia, 11 June 2014, https://
          embryo.asu.edu/pages/green-fluorescent-protein.
          <br>
          12. Chalfie M., Tu Y., Euskirchen G., Ward W. W., Prasher D. C., 1994. Green
          fluorescent protein as a marker for gene expression. Science 263: 802–
          805. [PubMed] [Google Scholar]
          <br>
          <br>
          Chapter 4
          <br>
          1. MLA style: Bruce A. Beutler – Facts. NobelPrize.org. Nobel Prize
          Outreach AB 2022. Wed. 17 Aug 2022. https://www.nobelprize.org/
          prizes/medicine/2011/beutler/facts/
          <br>
          2. https://profiles.utsouthwestern.edu/profile/10593/bruce-beutler.html
          <br>
          3. https://www.pnas.org/doi/10.1073/pnas.1311624110 https://www.
          pnas.org/doi/full/10.1073/pnas.1210583109
          <br>
          4. https://www.aai.org/About/History/Notable-Members/NobelLaureates/BruceABeutler
          <br>
          5. Wikipedia: https://en.wikipedia.org/wiki/Bruce_Beutler
          For more information………….
          201
          <br>
          6. Beutler B, Greenwald D, Hulmes JD, Chang M, Pan YC, Mathison
          J, Ulevitch R, Cerami A. (1985). Identity of tumour necrosis factor
          and the macrophage-secreted factor cachectin. Nature. Aug
          8-14;316(6028):552-4. doi: 10.1038/316552a0. PMID: 2993897.
          <br>
          7. Beutler, B. A. (2009). TLRs and innate immunity. Blood, The Journal of
          the American Society of Hematology, 113(7), 1399-1407.
          <br>
          8. Akira, S., Uematsu, S., & Takeuchi, O. (2006). Pathogen recognition and
          innate immunity. Cell, 124(4), 783-801.
          <br>
          9. Kawai, T., Akira, S. (2010). The role of pattern-recognition receptors in
          innate immunity: update on Toll-like receptors. Nat Immunol 11, 373–
          384. https://doi.org/10.1038/ni.1863
          <br>
          <br>
          Chapter 5
          <br>
          1. https://www.nobelprize.org/prizes/chemistry/2012/press-release/
          <br>
          2. https://medicine.duke.edu/profile/robert-j-lefkowitz
          <br>
          3. https://www.britannica.com/biography/Robert-Lefkowitz
          <br>
          4. https://achievement.org/achiever/robert-lefkowitz-m-d/
          <br>
          5. https://dukecancerinstitute.org/member/lefkowitz-robert
          <br>
          6. https://examples.yourdictionary.com/catchy-headlines-examples.
          html
          <br>
          7. https://onlinelibrary.wiley.com/doi/abs/10.1002/anie.201301924
          <br>
          8. h ttps://www.sciencedirect.com/science/article/pii/
          S0955067499800234
          <br>
          9. https://en.wikipedia.org/wiki/Brian_Kobilka
          <br>
          <br>
          Chapter 6
          <br>
          1. MLA style: Martin Karplus – Biographical. NobelPrize.org. Nobel Prize
          Outreach AB 2022. Mon. 5 Dec 2022.
          <https: //www.nobelprize.org/ prizes/chemistry/2013/karplus/biographical />
          For more information………….
          202
          <br>
          2. MLA style: Arieh Warshel – Biographical. NobelPrize.org. Nobel Prize
          Outreach AB 2022. Mon. 5 Dec 2022.
          <https: //www.nobelprize.org/ prizes/chemistry/2013/warshel/biographical />
          <br>
          3. MLA style: Michael Levitt – Biographical. NobelPrize.org. Nobel Prize
          Outreach AB 2022. Mon. 5 Dec 2022.
          <https: //www.nobelprize.org/ prizes/chemistry/2013/levitt/biographical />
          <br>
          4. https://www.nobelprize.org/uploads/2018/06/warshel-lecture.pdf
          <br>
          5. Development of Multiscale Models for Complex Chemical Systems
          From H+H2 to Biomolecules: Lecture Slides
          <br>
          6. Gelin, BR. April 1976. Application of Empirical Energy Functions to
          Conformational Problems in Biochemical Systems. Harvard PhD Thesis.
          <br>
          7. https://youtu.be/ARKFUWWXUhQ
          <br>
          8. Walpole J, Papin JA, Peirce SM. Multiscale computational models of
          complex biological systems. Annu Rev Biomed Eng. 2013;15:137-54.
          doi: 10.1146/annurev-bioeng-071811-150104. Epub 2013 Apr 29.
          PMID: 23642247; PMCID: PMC3970111.
          <br>
          9. Britannica, The Information Architects of Encyclopaedia. "Martin
          Karplus". Encyclopedia Britannica, 7 Jan. 2023, https://www.britannica.
          com/facts/Martin-Karplus. Accessed 8 January 2023.
          <br>
          <br>
          Chapter 7
          <br>
          For more information.......
          <br>
          1. May-Britt Moser – Biographical - NobelPrize.org. Accessed 11/29/2022
          <br>
          2. Nobel laureate May-Britt Moser:"The Norwegian stance on equality
          gave me a unique opportunity" (sciencenorway.no) Accessed
          11/29/2022.
          <br>
          3. May-Britt Moser – Facts - NobelPrize.org
          <br>
          4. The Incredible True Tale Of "The Queen of Neuroscience"And Her
          Nobel Prize | HuffPost Impact Accessed 11/29/2022.Fyhn, M, Molden,
          <br>
          S, Witter, M.P, Moser, E.I. and Moser, M.B. (2004). "Spatial representation
          in the entorhinal cortex". Science, 305, 1258–1264.Leutgeb, S.,
          For more information………….
          203
          Leutgeb, J.K., Barnes, C.A., Moser, E.I., McNaughton, B.L., and Moser,
          M.-B (2005). "Independent codes for spatial and episodic memory in
          the hippocampus". Science, 309, 619–623.Hafting, T., Fyhn, M., Molden,
          S., Moser, M.-B., and Moser, E.I. (2005). "Microstructure of a spatial map
          in the entorhinal cortex". Nature, 436, 801–806.Sargolini, F., Fyhn, M.,
          Hafting, T., McNaughton, B.L., Witter, M.P., Moser, M.-B., and Moser, E.I.
          (2006). "Conjunctive representation of position, direction and velocity
          in entorhinal cortex". Science, 312, 754–758.
          <br>
          <br>
          Chapter 8
          <br>
          Interview.
          <br>
          I used this source to quote John O'Keefe in my chapter about cognitive
          maps.
          Link: https://www.youtube.com/watch?v=favAUcplFKI
          <br>
          Interview.
          <br>
          I used this source to find out what really persuaded John O'Keefe to
          study the brain, the hippocampus in particular.
          Link: https://www.youtube.com/watch?v=Z9AgkmxdRDM&t=24s
          "John O'Keefe British-American Neuroscientist." Britannice Biography,
          www.britannica.com/biography/John-OKeefe. Accessed 23 Dec. 2022.
          <br>
          I used this source to get basic information on John O'Keefe, May-Britt,
          and Edvard l. Moser.
          The Nobel Prize. www.nobelprize.org/prizes/medicine/2014/may-brittmoser/facts/. Accessed 25 Dec. 2022.
          <br>
          I used this source to learn facts about May-Britt Moser.
          The Nobel Prize. www.nobelprize.org/prizes/medicine/2014/okeefe/
          biographical/. Accessed 16 Dec. 2022.
          <br>
          I used this source to learn more about John O'Keefe's early life.
          The Nobel Prize. www.nobelprize.org/prizes/medicine/2014/okeefe/
          speech/. Accessed 24 Dec. 2022.
          <br>
          I used this source to view John O'Keefe's banquet speech.
          For more information………….
          204
          The Nobel Prize. www.nobelprize.org/prizes/medicine/2014/may-brittmoser/biographical/. Accessed 26 Dec. 2022.
          <br>
          I used this source to learn more about May-Britt Moser.
          The Nobel Prize. www.nobelprize.org/prizes/medicine/2014/edvardmoser/biographical/. Accessed 26 Dec. 2022.
          <br>
          I used this source to learn more about Edvard l. Moser.
          The Nobel Prize. www.nobelprize.org/prizes/medicine/2014/summary/.
          Accessed 16 Dec. 2022.
          <br>
          I used this source to get a basic gist of John O'Keefe and the Moser's
          general research idea.
          The Nobel Prize. www.nobelprize.org/prizes/medicine/2014/edvardmoser/facts/. Accessed 24 Dec. 2022.
          <br>
          I used this source to learn facts about Edvard l. Moser.
          The Nobel Prize. www.nobelprize.org/prizes/medicine/2014/okeefe/
          facts/. Accessed 16 Dec. 2022.
          <br>
          I used this source to learn more about John O'Keefe's journey, research,
          and collaboration.
          O'Keefe. Address.
          <br>
          I used this speech to quote John O'Keefe in my chapter.
          Link: https://www.youtube.com/watch?v=el3_wTT3X3k
          —. Lecture.
          <br>
          I used this source for quotes in my chapter.
          Link: https://www.youtube.com/watch?v=wNIQSAPJjjs
          —. Lecture.
          <br>
          I used this lecture to learn more about John O'Keefe's research and to
          quote my opening quote at the very beginning of the chapter.
          Link: https://www.youtube.com/watch?v=CII-jcRE4UQ
          Research.com. research.com/u/edvard-i-moser. Accessed 15 Jan. 2023.
          For more information………….
          205
          <br>
          I used this source to learn about Edvard l. Moser's awards/
          accomplishments.
          Scientific Women.
          scientificwomen.net/women/moser-may-britt71#:~:text=Fernstr%C3%B6m's%20Great%20Nordic%20Prize%20
          (Fernstr%C3%B6m,2014%3A%20Karl%20Spencer%20Lashley%20
          Award%20(. Accessed 15 Jan. 2023.
          <br>
          I used this source to learn about May-Britt Moser's awards/
          accomplishments:
          <br>
          <br>
          Chapter 9
          <br>
          1. “Aziz Sancar – Facts - NobelPrize.org.” Nobel Prize, https://www.
          nobelprize.org/prizes/chemistry/2015/sancar/facts/. Accessed 29
          September 2022.
          <br>
          2. “Aziz Sancar, M.D., Ph.D. | Biochemistry and Biophysics.” UNC School
          of Medicine, https://www.med.unc.edu/biochem/directory/asancar/.
          Accessed 05 September 2022.
          <br>
          3. Rogers, Kara. “Aziz Sancar | Biography, Facts, & Nobel Prize.”
          Encyclopedia Britannica, https://www.britannica.com/biography/
          Aziz-Sancar. Accessed 01 November 2022.
          <br>
          4. Zagorski, Nick. “Profile of Aziz Sancar.” PNAS, 17 January 2019, https://
          www.pnas.org/doi/10.1073/pnas.0507558102. Accessed 21 October
          2022.
          <br>
          5. “Aziz Sancar – Interview.” nobelprize.org, 7 October 2015, https://www.
          nobelprize.org/prizes/chemistry/2015/sancar/interview/. Accessed 22
          January 2023.
          <br>
          <br>
          Chapter 10
          <br>
          1. Richard Henderson – Nobel Lecture. NobelPrize.org. Nobel Prize
          Outreach AB 2022. Sun. 25 Sep 2022. https://www.nobelprize.org/
          prizes/chemistry/2017/henderson/lecture/
          <br>
          2. https://www.nobelprize.org/prizes/chemistry/2017/henderson/facts/
          <br>
          3. https://www.youtube.com/watch?v=o_y0wGZHkKI
          Path to Nobel
          206
          <br>
          4. Henderson R, Baldwin JM, Ceska TA, Zemlin F, Beckmann E, Downing KH.
          Model for the structure of bacteriorhodopsin based on high-resolution
          electron cryo-microscopy. J Mol Biol. 1990 Jun 20;213(4):899-929. DOI:
          10.1016/S0022-2836(05)80271-2. PMID: 2359127.
          <br>
          5. https://www.nature.com/articles/257028a0
          <br>
          6. https://www.nature.com/articles/s41467-019-10782-0
          <br>
          7. https://aggietranscript.ucdavis.edu/cryogenic-electron-microscopya-leap-forward-for-uc-davis/
          <br>
          <br>
          Chapter 11
          <br>
          1. https://www.hopkinsmedicine.org/profiles/details/gregg-semenza
          <br>
          2. https://en.wikipedia.org/wiki/Gregg_L._Semenza
          <br>
          3. https://hub.jhu.edu/2019/12/09/nobel-week-semenza-lecturephysiology-medicine/
          <br>
          4. https://www.britannica.com/biography/Gregg-L-Semenza
          <br>
          5.
          https://closler.org/lifelong-learning-in-clinical-excellence/a-nobelcause-an-interview-with-dr-gregg-semenza
          <br>
          6. https://www.nobelprize.org/prizes/medicine/2019/semenza/
          biographical/
          <br>
          7. https://www.nobelprize.org/prizes/medicine/2019/advancedinformation/
          <br>
          8. https://www.cell.com/trends/cancer/fulltext/S2405-8033(21)00209-0
          <br>
          9. https://en.wikipedia.org/wiki/HIF1A
          <br>
          10. https://www.nobelprize.org/prizes/medicine/2019/semenza/photogallery/?gallery_style=page
          <br>
          <br>
          Chapter 12
          <br>
          1. Arbanas, Caroline. “Nobel Awarded to Charles Rice for Hepatitis C
          Discoveries at Washington University School of Medicine.” Washington
          University School of Medicine in St. Louis, 8 Oct. 2020, https://medicine.
          For more information………….
          207
          wustl.edu/news/nobel-awarded-to-charles-rice-for-hepatitis-cdiscoveries-at-washington-university-school-of-medicine/.
          <br>
          2. Arnst, John. “Charles M. Rice Shares The Nobel for Hepatitis c Research.”
          American Society for Biochemistry and Molecular Biology, 5 Oct. 2020,
          https://www.asbmb.org/asbmb-today/people/100520/rice-sharesnobel-for-hepatitis-c-work.
          <br>
          3. Fenz, Katherine. “Rockefeller's Charles M. Rice Honored with Nobel
          Prize for Research That Contributed to a Cure for Hepatitis C.” News,
          11 Oct. 2020,
          https://www.rockefeller.edu/news/29292-rockefellervirologist-charles-m-rice-honored-with-nobel-prize-for-research-thatcontributed-to-a-cure-for-hepatitis-c/.
          <br>
          4. Clinic, Mayo. “Hepatitis C.” Mayo Clinic, Mayo Foundation for Medical
          Education and Research, 31 Aug. 2021, https://www.mayoclinic.org/
          diseases-conditions/hepatitis-c/symptoms-causes/syc-20354278.
          <br>
          5. Outreach, Nobel Prize. “The Nobel Prize in Physiology or Medicine
          2020.” NobelPrize.org, 2020, https://www.nobelprize.org/prizes/
          medicine/2020/rice/facts/.
          <br>
          6. Wikipedia. “Charles M. Rice.” Wikipedia, Wikimedia Foundation, 17 Oct.
          2022, https://de.wikipedia.org/wiki/Charles_M._Rice.
          <br>
          7. University, Rockefeller. “Laboratory of Virology and Infectious Disease.”
          The Rockefeller University " Lab Members, https://lab.rockefeller.edu/
          rice/members/rice.
          <br>
          8. University, Rockefeller. “Heads of Laboratories.” Our Scientists, 16
          Nov. 2021, https://www.rockefeller.edu/our-scientists/heads-oflaboratories/.
          <br>
          9. Prize, Nobel. “Interview with Charles M. Rice, March 2021.” The Nobel
          Prize, Mar. 2021, https://www.nobelprize.org/prizes/medicine/2020/
          Dr. Rice/169385-Dr. Rice-interview-march-2021. Accessed 2022.
          <br>
          10. Prize, Nobel. “Telephone Interview, October 2020.” The Nobel Prize,
          2020, https://www.nobelprize.org/prizes/medicine/2020/Dr. Rice/
          interview/. Accessed 2022.
          For more information………….
          208
          <br>
          11. Prize, Nobel, director. Charles M. Rice, Nobel Prize in Physiology or
          Medicine 2020: What Makes a Successful Scientist?YouTube, YouTube,
          6 July 2021, https://www.youtube.com/watch?v=LBoMhQ_ygAo.
          Accessed 30 Oct. 2022.
          <br>
          12. “Interview with Nobel Laureate Dr. Charles Rice | On Success in
          Science.” YouTube, YouTube, 11 Nov. 2022, https://www.youtube.com/
          watch?v=eQLKW6k0NC8. Accessed 30 Oct. 2022.
          <br>
          13. Sawyer, Richard, and Robert Kohler. “Oral History Interview with
          Charles M. Rice.” Science History Institute Digital Collections, https://
          digital.sciencehistory.org/works/q7lqcem.
          <br>
          <br>
          Chapter 13
          Works Cited
          <br>
          1. Broad Institute. “CRISPR Timeline.” Broad Institute, Broad Institute, 7
          Dec. 2018, www.broadinstitute.org/what-broad/areas-focus/projectspotlight/crispr-timeline. Accessed 28 Nov.
          2022.
          <br>
          2. Charpentier, Emanuelle. “Emmanuelle Charpentier Life Story.”
          Www.kavliprize.org, www.kavliprize.org/emmanuelle-charpentierautobiography. Accessed 28 Nov. 2022.
          <br>
          3. Charpentier, Emmanuelle. Emmanuelle Charpentier: “You Need Time
          to Do the Work in a Proper Way.” 7 Oct. 2020, www.nobelprize.org/
          prizes/chemistry/2020/charpentier/interview/. Accessed 6 Jan. 2023.
          <br>
          4. Doudna, Jennifer. Jennifer A. Doudna: “It Still Amazes Me Everyday.”
          7 Oct. 2020, www.nobelprize.org/prizes/chemistry/2020/doudna/
          interview/. Accessed 6 Jan. 2023.
          <br>
          5. “Emmanuelle Charpentier | Gruber Foundation.” Gruber.yale.edu,
          gruber.yale.edu/genetics/emmanuelle-charpentier. Accessed 28 Nov.
          2022.
          <br>
          6. Interview with Jennifer A. Doudna, February 2021. NobelPrize.org.
          Nobel Prize Outreach AB 2023. Sat. 7 Jan 2023. www.nobelprize.org/
          prizes/chemistry/2020/doudna/167713-jennifer-doudna-interviewfebruary-2021/
          For more information………….
          209
          <br>
          7. Ishino, Yoshizumi, et al. “History of CRISPR-Cas from Encounter with
          a Mysterious Repeated Sequence to Genome Editing Technology.”
          Journal of Bacteriology, vol. 200, no. 7, 2018, pp. e00580-17, 10.1128/
          JB.00580-17.
          <br>
          8. “Jennifer Doudna.” Innovative Genomics Institute (IGI),
          innovativegenomics.org/people/jennifer-doudna/. Accessed 28 Nov.
          2022.
          <br>
          9. “Jennifer Doudna | Gruber Foundation.” Yale.edu, 2011, gruber.yale.
          edu/genetics/jennifer-doudna. Accessed 28 Nov. 2022.
          <br>
          10. “Jennifer A. Doudna | Research UC Berkeley.” Vcresearch.
          berkeley.edu, vcresearch.berkeley.edu/faculty/jenniferdoudna#:~:text=Current%20research%20in%20the%20Doudna.
          Accessed 7 Jan. 2023.
          <br>
          11. Jinek, M., et al. “A Programmable Dual-RNA-Guided DNA Endonuclease
          in Adaptive Bacterial Immunity.” Science, vol. 337, no. 6096, 28 June
          2012, pp. 816–821, 10.1126/science.1225829.
          <br>
          12. Marino, M. “Biography of Jennifer A. Doudna.” Proceedings of the
          National Academy of Sciences, vol. 101, no. 49, 1 Dec. 2004, pp.
          16987–16989, www.pnas.org/content/101/49/16987, 10.1073/
          pnas.0408147101. Accessed 28 Nov. 2022.
          <br>
          13. Marks, Lara. “The Life and Work of Jennifer Doudna.”
          WhatisBiotechnology.org, Oct. 2017, www.whatisbiotechnology.org/
          index.php/people/summary/Doudna. Accessed 28 Nov. 2022.
          <br>
          14. MedlinePlus. “What Are Genome Editing and CRISPR-Cas9?”
          Medlineplus.gov, Medlineplus, 18 Sept. 2020, medlineplus.gov/
          genetics/understanding/genomicresearch/genomeediting/. Accessed
          28 Nov. 2022.
          <br>
          15. “The Nobel Prize in Chemistry 2020.” NobelPrize.org, www.nobelprize.
          org/prizes/chemistry/2020/charpentier/interview/.
          <br>
          16. The Royal Swedish Academy of Sciences. “The Nobel Prize in Chemistry
          2020.” NobelPrize.org, 7 Oct. 2020, www.nobelprize.org/prizes/
          chemistry/2020/press-release/. Accessed 28 Nov. 2022.
          For more information………….
          210
          <br>
          17. “Welcome.” Www.mpusp.mpg.de, www.mpusp.mpg.de/5260/
          welcome. Accessed 7 Jan. 2023.
          <br>
          18. “What Is CRISPR?” The Jackson Laboratory, www.jax.org/
          personalized-medicine/precision-medicine-and-you/what-iscrispr#:~:text=CRISPR%20stands%20for%20Clustered%20Regularly.
          Accessed 28 Nov. 2022.
          <br>
          <br>
          Chapter 14
          <br>
          1. MLA style: The Nobel Prize in Physiology or Medicine 2021.
          NobelPrize.org. Nobel Prize Outreach AB 2022. Mon. 17 Oct 2022.
          https://www.nobelprize.org/prizes/medicine/2021/summary/
          <br>
          2. Autobiography of David Julius | The Shaw Prize Biography of David
          Julius | UC San Francisco (ucsf.edu)
          <br>
          3. Ardem Patapoutian | Scripps Research
          <br>
          4. Ardem Patapoutian – Facts – 2021 - NobelPrize.org
          <br>
          5. (PDF) TRPV1 and Piezo: the 2021 Nobel Prize in Physiology or Medicine
          (researchgate.net)
          <br>
          6. (PDF) Topical capsaicin for pain management: Therapeutic potential
          and mechanisms of action of the new high-concentration capsaicin 8
          patch (researchgate.net)
          <br>
          7. Piezo1 ion channels inherently function as independent
          mechanotransducers - PubMed (nih.gov)
          <br>
          8. TRPV1-Targeted Drugs in Development for Human Pain Conditions -
          PubMed (nih.gov)
      </div>

    </div>
  </section><!-- End About Us Section -->


</main>

{% endblock %}