{% extends "base/base.html" %}

{% load static %}


{% block metadata %}
<meta name="description" content="" />
<meta name="author" content="" />
<title>Afhd-usa</title>
{% endblock %}

{% block css_content %}

{% endblock %}

{% block body %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  {% include 'base/navbar.html' %}
</header><!-- End Header -->

<!-- Masthead-->
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Path to Nobel</li>
      </ol>
    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Path to Nobel Book 2nd Edition-2024</h2>
        <form action = "https://forms.gle/juMThfpwJyU8Ngur7">
        <button type ="submit">Sign Up Here</button>
        </form>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <div class="info">
            <img src="pathtonobel_bro.jpg" width="500" height="600">
            <img src="{% static 'assets/img/path-to-nobel.png'%}" class="img-fluid mb-2" alt="">
          </div>
        </div>
        <div class="col-lg-9">
          <h4>
          Project Registration Contribution - $500
          </h4>     
          <a href="https://buy.stripe.com/aEU3dmfQA77g0JW001" class="btn add-to-cart-btn mt-3 mb-3" style="color: green;font-size: 28px;">PAY</a>          
     </div>
      </div>
      <div class="row content">

        <p>Unveiling the Secrets of Nobel Minds to Crafting Your Path!</p>
        <p>Attention high school students (8th-12th grade)! Seize this unique opportunity to dive into the lives of
          Nobel laureates, exploring their groundbreaking achievements and the paths they took to success. This isn't
          just reading about history; it's about engaging directly with it.</p>
        <p>🔍 <b>Your Mission:</b> Choose a Nobel laureate, delve into their journey and create a captivating 10-page
          story. This is your chance to connect with the laureate or their associates, gaining invaluable insights and
          guidance.</p>
        <p>💡 <b>Your Reward:</b> You will gain profound knowledge and inspiration, and your work will also be
          immortalized in the "Path to Nobel" book. Plus, a contribution of $500 grants you 40 copies of this treasure
          trove of wisdom and motivation.</p>
        <p>⏳ <b>Timeline:</b> Embark on this enlightening 3-month journey, blending learning with creativity.</p>
        <p>📚 <b>Parents and Students:</b> This is more than a project; it's a stepping stone to excellence. Join us in
          celebrating the spirit of discovery and achievement!</p>

        <h2 style="width: -webkit-fill-available;text-align: center;">Benefits for the Students</h2>
        <p>Understanding the path a Nobel laureate took from their student days to receiving the award, and having the
          opportunity to meet and interact with them, can offer significant benefits to students, both in the short term
          and long term:</p>

        <h3 style="width: -webkit-fill-available;text-align: center;">Short-Term Benefits:</h3>

        <p>1. Inspiration and Motivation: Meeting or interacting with a Nobel laureate and or his associates can be a
          profoundly inspiring experience, encouraging students to pursue their passions and academic interests with
          greater enthusiasm.</p>
        <p>2. Enhanced Research Skills: The process of studying a laureate's path and preparing for the meeting will
          hone students' research and analytical skills.</p>
        <p>3. Improved Writing Abilities: Writing an essay about the laureate's journey will develop students' writing
          skills, critical thinking, and ability to convey complex ideas clearly.</p>
        </p>4. Networking Opportunities: Interacting with a Nobel laureate and possibly other professionals in the field
        can expand students' networks, which might be beneficial for future academic and career opportunities.</p>
        </p>5. Increased Confidence: Successfully completing such a project and engaging with a renowned figure can
        boost students' self-confidence and public speaking skills.</p>
        <h3 style="width: -webkit-fill-available;text-align: center;"> Long-Term Benefits:</h3>
        <p>1. Career Guidance: Insights gained from the laureate's journey can guide students in their career choices
        and academic paths.</p>
        <p>2. Lifelong Mentorship: In some cases, these interactions can lead to ongoing mentorship, providing
        long-term guidance and support.</p>
        <p>3. Publication and Recognition: Having their essays published can add to students' portfolios, benefiting
        college applications and future career prospects.</p>
        <p> 4. Cultivation of Perseverance: Understanding the challenges and perseverance of a Nobel laureate can
        instill a strong work ethic and resilience in students.</p>
        <p>5. Broadened Perspectives: Learning about the laureate's experiences can broaden students' worldviews and
        encourage them to think more globally and innovatively.</p>
        <p>6. Alumni Network: Being part of a program that includes interactions with Nobel laureates can create a
        sense of belonging to an elite group, offering networking opportunities in the future.</p>
        <p>7. Inspiration for Others: These students can become role models for their peers, inspiring others to pursue
        excellence and engage deeply with their fields of interest.</p>
        <p>This experience can be transformative, influencing not just the academic and professional trajectory of the
        students but also contributing to their personal growth and development.</p>

        <a href="{% url 'path-to-nobel-book' %}" class="btn get-started-btn" style="background: #e7cd4e;
        color: #000;margin-top:4%">Check out 1st Edition</a>

      </div>      
       
    </div>
  </section><!-- End About Us Section -->


</main>

{% endblock %}