{% extends "base/base.html" %}

{% load static %}


{% block metadata %}
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Afhd-usa</title>
{% endblock %}

{% block css_content %}

{% endblock %}

{% block body  %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  {% include 'base/navbar.html' %}
</header><!-- End Header -->

<!-- Masthead-->
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Path to Nobel</li>
      </ol>
    </div>
  </section><!-- End Breadcrumbs -->

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Path to Nobel</h2>
      </div>

      <div class="row content">
        <div class="col-lg-8">
          <p>
          To bring all organizations, people, and government programs to the needy and destitute people thereby catalyzing human development, with a focus on health and nutrition.
          </p>
          <p>
            By identifying, collecting, disseminating information, articles write up, products, and support research related to the focus area(s).
          </p>
          <p>The information collected will be publicized and promoted through publication and meetings/seminars/workshops.
          </p>
        </div>
        <div class="col-lg-4">
          <a href="http://quinoa.afhdusa.org/" class="btn get-started-btn btn-block"  style="
            color: #e70505;
            background: #fcea90;
            font-size: x-large;">
            Login/Register here Now!</a>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->


</main>

{% endblock %}
