{% extends "base/base.html" %}

{% load static %}


{% block metadata %}
<title>Afhd-usa</title>
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}

{% block css_content %}
<style>
  .pic{
    border-radius:0 !important;
  }
  .pricing ul i{
    top:2px;
  }
  .pricing li{
    padding-top:0px !important;
    padding-bottom:0px !important

  }
   .pricing h4{
     margin-bottom:0px !important
   }
   .icon-box h4{
     font-size:18px !important;
   }
</style>

{% endblock %}

{% block body  %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  {% include 'base/navbar.html' %}
</header><!-- End Header -->

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Shop</li>
      </ol>
      <h2>Buy Products</h2>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page" style="padding-top: 0;">
    <div class="container">

      <!-- ======= Services Section ======= -->
      <section id="services" class="services" style="
        padding-top: 30px;
        padding-bottom: 30px;">
        <div class="container">

          <div class="row">
            {% for i in prod_list_inst %}
            <div class="col-xl-3 col-md-6 d-flex mt-4 align-items-stretch" data-aos="zoom-in">
              <div class="icon-box text-center">
                <img src="{{i.image.url}}" class="img-fluid product-img mb-2" alt="">

                  <h4 class="mt-2 mb-2">
                    <a href="{% url 'single-item' id=i.id slug=i.name_slug %}">{{i.name}}</a>
                  </h4>

                  <h5><span>$</span>{{i.price|floatformat}}</h5>

                  <a href="{% url 'single-item' id=i.id slug=i.name_slug %}" class="btn btn-sm add-to-cart-btn">
                    View
                  </a>
<!--
                  {% if not i.id in cart_items_list %}
                    <form class="mt-2 mb-2" method="post" action="{% url 'add-to-cart' %}">{% csrf_token %}
                      <input type="hidden" name="item_id" value="{{i.id}}">
                      <button type="submit" class="btn btn-sm add-to-cart-btn">
                        Add to cart
                      </button>
                    </form>
                  {% else %}
                    <a href="{% url 'cart' %}" class="btn btn-sm add-to-cart-btn">
                      In cart
                    </a>
                  {% endif %} -->

              </div>
            </div>
            {% endfor %}

            <!-- <div class="col-xl-3 col-md-6 d-flex mt-4 align-items-stretch" data-aos="zoom-in">
              <div class="icon-box text-center">
                <img src="{% static 'assets/img/books/Scientists_Greater_than_Einstein_R8Draft_Preview.jpg' %}" class="img-fluid product-img mb-2" alt="">

                  <h4 class="mt-2 mb-2">
                    <a href="">Scientist Greater than Einstein</a>
                  </h4>

                  <h5><span>$</span>10</h5>

                  <form class="mt-2 mb-2">
                    <button type="button" class="btn btn-sm add-to-cart-btn" data-bname="At the feet of Mother India" data-bprice="10" data-toggle="modal" data-target="#exampleModalCenter">
                      Add to cart
                    </button>
                  </form>

              </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex mt-4 align-items-stretch" data-aos="zoom-in">
              <div class="icon-box text-center">
                <img src="{% static 'assets/img/books/At_the_feet_of_mother_india.png' %}" class="img-fluid product-img mb-2" alt="">

                  <h4 class="mt-2 mb-2">
                    <a href="">At the feet of Mother India</a>
                  </h4>

                  <h5><span>$</span>10</h5>

                  <form class="mt-2 mb-2">
                    <button type="button" class="btn btn-sm add-to-cart-btn">
                      View
                    </button>
                  </form>

              </div>
            </div>

            <div class="col-xl-3 col-md-6 d-flex mt-4 align-items-stretch" data-aos="zoom-in">
              <div class="icon-box text-center">
                <img src="{% static 'assets/img/books/At_the_feet_of_mother_india.png' %}" class="img-fluid product-img mb-2" alt="">

                  <h4 class="mt-2 mb-2">
                    <a href="">At the feet of Mother India</a>
                  </h4>

                  <h5><span>$</span>10</h5>

                  <form class="mt-2 mb-2">
                    <a type="button" href="/item/" class="btn btn-sm add-to-cart-btn">
                      Add to cart
                    </a>
                  </form>

              </div>
            </div> -->


          </div>

        </div>
      </section><!-- End Services Section -->



    </div>
  </section>

</main><!-- End #main -->


<!-- Modal -->
<div class="modal" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bname"></h5>
        <button type="button" class="close" data-dismiss="modal" data-backdrop="static" data-keyboard="false" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'checkout' %}">{% csrf_token %}


          <input type="hidden" name="book_price" class="form-control-plaintext" id="bprice">
          <input type="hidden" name="book_name" class="form-control-plaintext" id="bname">


          <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" placeholder="Enter Name" required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" class="form-control" placeholder="Enter email" required>
          </div>
          <div class="form-group">
            <label>Phone no.</label>
            <input type="text" name="phone_number" class="form-control" placeholder="Enter Phone Number" required>
          </div>
          <div class="form-group">
            <label>Street Address</label>
            <input type="text" name="street_address" class="form-control" placeholder="Enter Street Address" required>
          </div>
          <div class="form-group">
            <label>City</label>
            <input type="text" name="city" class="form-control" placeholder="Enter City" required>
          </div>
          <div class="form-group">
            <label>Pincode</label>
            <input type="text" name="pincode" class="form-control" placeholder="Enter Pincode" required>
          </div>
          <button type="submit" class="btn btn-primary">Checkout</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
