{% extends "base/base.html" %}

{% load static %}


{% block metadata %}
<title>Afhd-usa</title>
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}

{% block css_content %}
<style>
  .pic{
    border-radius:0 !important;
  }
  .pricing ul i{
    top:2px;
  }
  .pricing li{
    padding-top:0px !important;
    padding-bottom:0px !important

  }

   .contact .info h4{
     padding:0px !important;
   }
   .contact .info p{
     padding:0px !important;
   }

</style>

{% endblock %}

{% block body  %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  {% include 'base/navbar.html' %}
</header><!-- End Header -->

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Item</li>
      </ol>
      <h2>Item details</h2>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page" style="padding-top: 0;">
    <div class="container">

      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

          <div class="row">

            <div class="col-lg-5 d-flex align-items-stretch">
              <div class="info">
                <img src="{{prod_inst.image.url}}" class="img-fluid mb-2" alt="">
              </div>

            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">

            <div class="info">
              <h3>{{prod_inst.name}}</h3>

              <h4>
                {% if prod_inst.name == "Path to Nobel" %}
                <span>Suggested Minimum Donation $</span>{{prod_inst.price|floatformat}} (Book price $19.99 + 1 cent shipping)<span>                  
                {% else %}
                <span>Suggested Minimum Donation $</span>{{prod_inst.price|floatformat}}<span>
                {% endif %}
                  <!-- <sub style="text-decoration: line-through;color:red;padding-left:5px">$12</sub> -->
                </span>
              </h4>


              {% if not prod_inst.id in cart_items_list %}
                  <form action="{% url 'add-to-cart' %}" method="post" role="form" class="mt-3 mb-3">{% csrf_token %}
                    <input type="hidden" name="item_id" value="{{prod_inst.id}}">
                    <p>Quantity
                    <input type="number" name="item_quantity" value="1" min="{{prod_inst.min_buy_quantity}}" max="{{prod_inst.max_buy_quantity}}"  {% if prod_inst.is_test_series or prod_inst.is_ebook  %}readonly="readonly"{% endif %}>
                    </p>
                    <button type="submit" class="btn add-to-cart-btn">
                      Add to cart
                    </button>
                </form>
              {% else %}
                <a href="{% url 'cart' %}" class="btn add-to-cart-btn mt-3 mb-3">
                  In cart
                </a>
              {% endif %}

              {% if prod_inst.is_ebook %}
              <p><b>E-book</b></p>
              {% endif %}
              {% if not prod_inst.is_other_item %}
              <p>
                <b>Author</b>
              </p>
              <p>{{prod_inst.author}}</p>
              <p>
                <b>Publisher</b>
              </p>
              <p>{{prod_inst.publisher}}</p>
              {% endif %}
              <p>
                <b>Description</b>
              </p>
              <p>{{prod_inst.description|safe}}</p>

              </div>
            </div>

          </div>

        </div>
      </section><!-- End Contact Section -->


    </div>
  </section>


</main><!-- End #main -->


{% endblock %}
