{% extends "base/base.html" %}

{% load static %}


{% block metadata %}
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Afhd-usa</title>
{% endblock %}

{% block css_content %}

{% endblock %}

{% block body  %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  {% include 'base/navbar.html' %}
</header><!-- End Header -->

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Order</li>
      </ol>
    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page" style="padding-top: 0;">
    <div class="container">
      <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Success Order Placed</h2>
          </div>

          <div class="row text-center justify-content-center">
            <div class="col-xl-6 col-md-10 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <h4><a href="#">Thank you! {{order_inst.user.name}} for purchasing the book</a></h4>
                <h5>This is your Order ID - {{order_inst.order_id}}.</h5>
                {% if ebook_cart %}
                  <h5>Download you e-book here <a href="{% url 'my-ebooks' order_id=order_inst.order_id %}">My E-Books</a></h5>
                  <h5>E-book download link has been sent in mail also.</h5>
                {% endif %}
                {% if test_series_cart %}
                  <h5>Take the Test here <a href="{% url 'my-test-series' order_id=order_inst.order_id %}">My Test Series</a></h5>
                  <h5>Test Series link has been sent in mail also.</h5>
                {% endif %}
                <h5> Please save it for reference</h5>
                <button class="btn btn-primary mt-3" onclick="window.print()">Print</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</main>


{% endblock %}
