{% extends "base/base.html" %}

{% load static %}


{% block metadata %}
<title>Afhd-usa</title>
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}

{% block css_content %}

{% endblock %}

{% block body  %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  {% include 'base/navbar.html' %}
</header><!-- End Header -->

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Our Team</li>
      </ol>
      <h2>Our Team</h2>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page" style="padding-top: 0;">
    <div class="container">

      <!-- ======= Team Section ======= -->
      <section id="team" class="team">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Our Team</h2>
          </div>

          <div class="row">

            <div class="col-lg-6">
              <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
                <div class="pic"><img src="{% static 'assets/img/team/blank-profile.png' %}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Srinivasa K. Rao, Ph.D.</h4>
                  <!-- <span>Chief Executive Officer</span> -->
                  <!-- <p>Explicabo voluptatem mollitia et repellat qui dolorum quasi</p> -->
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0">
              <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
                <div class="pic"><img src="{% static 'assets/img/team/blank-profile.png' %}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Jyoti Rao Jasti M.D.</h4>
                  <!-- <span>Product Manager</span> -->
                  <!-- <p>Aut maiores voluptates amet et quis praesentium qui senda para</p> -->
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4">
              <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
                <div class="pic"><img src="{% static 'assets/img/team/blank-profile.png' %}" class="img-fluid" alt=""></div>
                <div class="member-info">
                  <h4>Neetu Jain, CPA</h4>
                  <!-- <span>CTO</span> -->
                  <!-- <p>Quisquam facilis cum velit laborum corrupti fuga rerum quia</p> -->
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>


          </div>

        </div>
      </section><!-- End Team Section -->



    </div>
  </section>


</main><!-- End #main -->


{% endblock %}
