{% extends "base/base.html" %}

{% load static %}


{% block metadata %}
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Afhd-usa</title>
{% endblock %}

{% block css_content %}
<link href="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
{% endblock %}

{% block body  %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  {% include 'base/navbar.html' %}
</header><!-- End Header -->

<!-- Masthead-->
<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Data</li>
      </ol>
    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page test_frame" style="padding-top: 0;">
    <div class="container-fluid">
      <section id="services" class="services">
        <div class="container-fluid" data-aos="fade-up">

          <div class="section-title">
            <h2>Data List</h2>
          </div>

          <div class="row text-center justify-content-center">
            <div class="col-xl-12 col-md-12 align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <div class="table-responsive">
                  <table class="table table-bordered table-striped anonymous" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>S.No</th>
                        <th>Temple Name</th>
                        <th>City/Place</th>
                        <th>District</th>
                        <th>State</th>
                        <th>Year</th>
                        <th>Remarks</th>
                        <th>Page No</th>
                      </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>

              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</main>

{% endblock %}

{% block js_content %}
<script src="{% static 'dashboard/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'dashboard/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'dashboard/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'dashboard/js/demo/datatables-demo.js' %}"></script>

<script src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>

<script>
   $(document).ready(function() {
     $('.anonymous').DataTable( {
       "pageLength": 2100,
       "scrollX": true,
       // "scrollX": true,
       dom: 'frtip',

       "ajax": {
         "url":"{% static 'assets\Temple List PDF data Extraction_Combined.json' %}",

         "dataSrc": ""
       },
       "columns": [
       { "data": "S No",
       },
       { "data": "Temple Name",
       },
       { "data": "City/Place",
       },
       { "data": "District",
       },
       { "data": "State",
       },
       { "data": "Year",
       },
       { "data": "Remarks",
     },
       { "data": "Page No",
     }
   ]
 } );

} );
</script>


{% endblock %}
