{% extends "base/base.html" %}

{% load static %}


{% block metadata %}
<title>Afhd-usa</title>
<meta content="" name="description">
<meta content="" name="keywords">
{% endblock %}

{% block css_content %}

{% endblock %}

{% block body  %}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-inner-pages">
  {% include 'base/navbar.html' %}
</header><!-- End Header -->

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <ol>
        <li><a href="/">Home</a></li>
        <li>Vision & Mission</li>
      </ol>
      <h2>Vision & Mission</h2>

    </div>
  </section><!-- End Breadcrumbs -->

  <section class="inner-page" style="padding-top: 0;">
    <div class="container">

      <!-- ======= About Us Section ======= -->
      <section id="about" class="about">
        <div class="container" data-aos="fade-up">

          <div class="section-title">
            <h2>Vision & Mission</h2>
          </div>

          <div class="row content text-center">
            <div class="col-lg-12">
              <p>
                 We envision a world that that is well connected not only technologically but also as one species and one family – vasudhaiva kuṭumbakam ( Maha Upanishad 6.71–75)
              </p>
              <p>
                Our goal is to help people, anywhere, believe that the entire world is a family.
              </p>

              <a href="/" class="btn-learn-more">Learn More</a>
            </div>
          </div>

        </div>
      </section><!-- End About Us Section -->


    </div>
  </section>


</main><!-- End #main -->


{% endblock %}
